/**==================== 评论模块样式 ====================*/
.hide{
	display: none;
}
#comments-area{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 20px 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
/**==================== 评论标题样式 ====================*/
#comments-title{
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 40px;
}
#comments-title h3{
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	background: none;
}
#comments-title b{
	font-size: 12px;
	color: #ff5e52;
	font-weight: bold;
}
#comments-title small{
	font-size: 12px;
	color: #ff5e52;
}
@media (max-width: 1366px) {
	#comments-area{
		margin: 20px 0 0;
	}
}
@media (max-width: 1024px) {
	#comments-area{
		margin: 15px 0 0;
	}
	
}
@media (max-width: 768px) {
	#comments-area{
		margin: 10px 0 0;
	}
	#comments-title{
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}
	#comments-title h3{
		font-size: 16px;
	}
	#comments-title b{
		font-size: 12px;
		font-weight: normal;
	}
	#comments-title small{
		font-size: 12px;
	}
}
@media (max-width: 480px) {
	#comments-area{
		margin: 10px 0 0;
	}
	#comments-title{
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
}

/**==================== 评论回复样式 ====================*/
#comments-respond{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 15px 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
/** 评论关闭 */
#comments-respond .comments-closed{
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 30px 20px;
	border-radius: 9px;
	text-align: center;
	background: #f5f5f5;
}
#comments-respond h3.site-comments-closed{
	display: block;
	width: auto;
	height: 30px;
	margin: 10px 0;
	border: 0;
	padding: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: #ff5e52;
	background: none;
}
#comments-respond h3.post-comments-closed{
	display: block;
	width: auto;
	height: 30px;
	margin: 10px 0;
	border: 0;
	padding: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: #ff5e52;
	background: none;
}
/** 评论前登陆 */
#comments-respond .comments-sign{
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 15px 10px;
	border-radius: 9px;
	text-align: center;
	background: #f5f5f5;
}
#comments-respond .comments-sign h3.tips{
	display: block;
	width: auto;
	height: 30px;
	margin: 10px 0;
	border: 0;
	padding: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: #555;
	background: none;
}
#comments-respond .comments-sign p{
	display: inline-block;
	margin: 10px 0;
	border: 0;
	padding: 0;
}
#comments-respond .comments-sign .btn{
	color: #fff;
}
@media (max-width: 1366px) {
	#comments-respond{
		margin: 20px 0 0;
	}
}
@media (max-width: 1024px) {
	#comments-respond{
		margin: 15px 0 0;
	}
}
@media (max-width: 768px) {
	#comments-respond{
		margin: 10px 0 0;
	}
	/** 评论关闭 */
	#comments-respond .comments-closed{
		padding: 20px 15px;
		border-radius: 5px;
	}
	#comments-respond h3.site-comments-closed{
		height: 20px;
		margin: 5px 0;
		line-height: 20px;
		font-size: 16px;
	}
	#comments-respond h3.post-comments-closed{
		height: 20px;
		margin: 5px 0;
		line-height: 20px;
		font-size: 16px;
	}
	/** 评论前登陆 */
	#comments-respond .comments-sign{
		padding: 15px 10px;
		border-radius: 5px;
	}
	#comments-respond .comments-sign h3.tips{
		height: 20px;
		margin: 5px 0;
		line-height: 20px;
		font-size: 16px;
	}
	#comments-respond .comments-sign p{
		margin: 5px 0;
	}
	#comments-respond .comments-sign .btn{
		padding: 3px 10px;
		font-size: 13px;
		border-radius: 3px;
	}
}
@media (max-width: 480px) {
	#comments-respond{
		margin: 5px 0 0;
	}
	/** 评论关闭 */
	#comments-respond h3.site-comments-closed{
		font-size: 14px;
	}
	#comments-respond h3.post-comments-closed{
		font-size: 14px;
	}
	/** 评论前登陆 */
	#comments-respond .comments-sign {
	    padding: 10px 5px;
	}
	#comments-respond .comments-sign h3.tips{
		font-size: 14px;
	}
	#comments-respond .comments-sign .btn{
		font-size: 12px;
	}
}

/** 评论表单左侧头像标题 */
#comments-form{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
#comments-form .content{
	display: block;
	position:relative;
	width: 100%;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0 0 0 68px;
	overflow: hidden;
}
#comments-form .comt-title{
	float: left;
	display: block;
	position: relative;
	width: 48px;
	height: 48px;
	margin: 5px 0 5px -68px;
	font-size: 12px;
	text-align: center;
	color: #999;
}
#comments-form .comt-title .avatar{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 50%;	
}
#comments-form .comt-title p{
	display: block;
	margin: 5px 0;
	border: 0;
	padding: 0;
	font-size: 12px;
	color: #337ab7;
	line-height: 14px;
	text-align: center;
	word-wrap: break-word;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
#comments-form .comt-title p.comment-user-change{
	margin: 3px 0;
}
#comments-form .comt-title p.comment-user-change a{
	display:block;
	font-size: 12px;
	text-align: center;
	color: #aaa;
}
#comments-form .comt-title p.comment-user-change a:hover{
	color: #24a0f0;
}
#comments-form .comt-title p #cancel-comment-reply-link{
	display: none;
}
/** 评论表单右侧评论框 */
#comments-form .comt-box{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 9px;
	background: #fff;
	overflow: hidden;
}
#comments-form .comt-box .comt-area{
	display: block;
	width: 100%;
	height: 80px;
	margin: 0;
	border: 0;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	color: #666;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	overflow-x: hidden;
	overflow-y: auto;
}
#comments-form .comt-box .comt-area:focus{
	outline: none;
	border-radius: 9px 9px 0 0;
	border: 1px solid #24b4ff;
}
#comments-form .comt-box .comt-area:focus::-webkit-input-placeholder{
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comt-box .comt-area:focus::-moz-placeholder{
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comt-box .comt-area:focus::-ms-input-placeholder {
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comt-box .comt-ctrl{
	display: block;
	width: auto;
	height: 32px;
	margin: 0;
	border: 0;
	padding: 0;
	border-top: 1px solid #f3f3f3;
	background: #f9f9f9;
	overflow: hidden;
}
#comments-form .comt-box .comt-ctrl #submit{
	display: block;
	position: absolute;
	width: 100px;
	height: 32px;
	right: 0;
	bottom: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	font-size: 15px;
	color: #fff;
}
#comments-form .comt-box .comt-ctrl #submit:focus{
	outline: 0;
}
/** 评论提示校验信息 */
#comments-form .comt-box .comt-tips{
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 110px;
	text-align: center;
	font-size: 18px;
	color:#fff;
}
#comments-form .comt-box .comt-tips .comt-tip{
	z-index: 3;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	background: #7AD071;
}
#comments-form .comt-box .comt-tips .comt-error{
	background: #FF5E52;
}
/** 未登录用户输入评论者信息 */
#comments-form .comter-info{
	display: block;
	position: relative;
	margin: 15px 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
#comments-form .comter-info ul{
	display: inline-block;
	position: relative;
	transform: translate(-50%, 0);
	top: 0;
	left: 50%;
	width: auto;
	height: auto;
	margin: 0 auto;
	border: 0;
	padding: 0;
	text-align: left;
}
#comments-form .comter-info li{
	display: block;
	width: auto;
	height: 32px;
	margin: 3px 0;
	border: 0;
	padding: 0;
	line-height: 32px;
	list-style-type: none;
}
#comments-form .comter-info input{
	float: left;
	display: inline-block;
	width: 200px;
	height: 32px;
	margin: 0 10px;
	padding: 5px 9px;
	border: 1px solid #eee;
	border-radius: 3px;
	font-size: 14px;
}
#comments-form .comter-info input::-webkit-input-placeholder{
	content: "";
	font-size: 12px;
}
#comments-form .comter-info input:focus{
	outline: none;
	border: 1px solid #24b4ff;
	background: #f3fcff;
}
#comments-form .comter-info input:focus::-webkit-input-placeholder{
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comter-info input:focus::-moz-placeholder{
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comter-info input:focus::-ms-input-placeholder {
	opacity: 0;
	-moz-transition: .4s;
}
#comments-form .comter-info span{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 34px;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 14px;
	line-height: 34px;
	text-align: justify;
	text-align-last: justify;
}
#comments-form .comter-info span small{
	font-size: 12px;
	line-height: 36px;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 768px) {
	#comments-respond #comments-form .content{
		padding: 0 0 0 48px;
	}
	#comments-respond #comments-form .comt-title{
		float: left;
		width: 36px;
		height: 36px;
		margin-left: -48px;
		font-size: 12px;
		text-align: center;
		color: #999;
	}
	#comments-respond #comments-form .comt-box .comt-area{
		height: 60px;
	}
	#comments-respond #comments-form .comt-box .comt-ctrl{
		height: 24px;
	}
	#comments-respond #comments-form .comt-box .comt-ctrl #submit{
		height: 24px;
		width: 80px;
		font-size: 14px;
	}
	/** 未登录用户输入评论者信息 */
	#comments-respond #comments-form .comter-info{
		margin: 10px 0;
	}
	#comments-respond #comments-form .comter-info li{ 
		height: 30px;
		margin: 5px 0;
		line-height: 30px;
	}
	#comments-respond #comments-form .comter-info span{
		height: 30px;
		width: 80px;
		padding: 3px 5px;
		font-size: 12px;
		line-height: 30px;
		text-align: justify;
		text-align-last: justify;
	}
	#comments-respond #comments-form .comter-info small{
		font-size: 12px;
		line-height: 24px;
	}
	#comments-respond #comments-form .comter-info input{
		position:relative;
		bottom:-3px;
		width: 160px;
		height: 30px;
		margin: 0 5px;
		padding: 3px 5px;
		font-size: 12px;
	}
	#comments-form .comter-info input::-webkit-input-placeholder{
		content: "";
		font-size: 10px;
	}
	#comments-form .comt-box .comt-tips{
		line-height: 80px;
		font-size: 16px;
	}
}
@media (max-width: 480px) {
	/** 未登录用户输入评论者信息 */
	#comments-respond #comments-form .comter-info{
		margin: 10px 0;
	}
	#comments-respond #comments-form .comter-info li{ 
		height: 30px;
		margin: 5px 0;
		line-height: 24px;
	}
	#comments-respond #comments-form .comter-info span{
		width: 45px;
		padding: 3px 5px;
		font-size: 10px;
	}
	#comments-respond #comments-form .comter-info span small{
		display: none;
	}
	#comments-respond #comments-form .comter-info small{
		font-size: 10px;
		line-height: 24px;
	}
	#comments-respond #comments-form .comter-info input{
		position:relative;
		bottom:-3px;
		width: 160px;
		height: 30px;
		margin: 0 5px;
		padding: 3px 5px;
		font-size: 12px;
	}
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 768px) {
	
}
@media (max-width: 480px) {
	
}

/** ==================== 评论小工具样式 ==================== **/
/* Emojis 表情图标 */
.article-content img.wp-smiley{
	display: inline-block;
}
.comment-emojis{
	display: inline-block;
	height: 100%;
	width: auto;
	margin: 0 10px;
	border: 0;
	padding: 5px;
	line-height: 1;
}
.comment-emojis i{
	width: auto;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 22px;
	color: #999;
}
.emojis-box{
	z-index: 999;
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 10px 0 0;
	border: 1px solid #eee;
	padding: 10px 15px;
	border-radius: 5px;
	text-align: justify;
	background: #fafafa;
}
.emojis-box a{
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
}
.emojis-box img{
	width: 30px;
	height: 30px;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 768px) {
	.comment-emojis{
		margin: 0 5px;
		padding: 3px;
	}
	.comment-emojis i{
		font-size: 16px;
	}
	.emojis-box{
		margin: 5px 0 0;
		padding: 5px 10px;
		border-radius: 3px;
	}
	.emojis-box img{
		width: 24px;
		height: 24px;
	}
}
@media (max-width: 480px) {
	
}


/**====================评论列表相关样式====================*/
.comments-list{
	margin: 20px 0 0;
	border: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.comments-list ol{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
/** module_comments_list.php 文件 */
.comments-list ol li{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
	list-style-type: none;
}
.comments-list .comt-box{
	display: block;
	width: 100%;
	height: auto;
	margin: 5px 0;
	border: 0;
	padding: 0;
}
.comments-list .comt-box .comt-avatar{
	float: left;
	display: inline;
	position: relative;
	width: 36px;
	height: 36px;
	margin: 6px 0px;
	border: 1px solid #eee;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
}
.comments-list .comt-box .comt-avatar .avatar{
	display: block;
	width: 100%;
	height: 100%;
}
.comments-list .comt-box .comt-main{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	margin: 0 36px 0 60px;
	border: 0;
	padding: 5px 0;
	color:#999;
	line-height: 20px;
	font-size: 14px;
	word-wrap: break-word;
	overflow: hidden;
}
.comments-list .comt-box .comt-main p{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	overflow: hidden;
	text-align: justify;
	text-overflow: ellipsis;
	word-break: break-all;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.comments-list .comment-new .comt-box .comt-main p{
	-webkit-line-clamp: 999999999;
}
.comments-list .comt-box .comt-main img{
	display: inline-block;
	max-width: 20px!important;
	width: 20px!important;
	max-height: 20px!important;
	height: 20px!important;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	text-align: justify;
}
.comments-list .comt-box .comt-approved{
	padding: 0 9px;
	font-size: 12px;
	border-radius: 3px;
	background: #eee;
}
.comments-list .comt-box .comt-meta{
	font-size:12px;
	color:#bbb;
}
.comments-list .comt-box .comt-meta .comt-author{
	margin: 0 10px 0 0;
}
.comments-list .comt-box .comt-meta a{
	margin: 0 5px;
	color: #999;
	text-decoration: none;
}
.comments-list .comt-box .comt-meta a:hover{
	color: #24a0f0;
}
.comments-list .comt-order{
	position: absolute;
	top: 15px;
	right: 0;
	font-size: 16px;
	color: #ccc
}
.comments-list .comt-box .comment-reply-link{
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	color: #bbb;
}
.comments-list .comt-box .depth-1{
	border-bottom: 1px solid #eee;
}
.comments-list .content .depth-1 .children{
	display: block;
	width: auto;
	height: auto;
	margin: 0 0 0 24px;
	border: 0;
	padding: 0;
}
@media (max-width: 1366px) {
	.comments-list{
		margin: 20px 0 0;
	}
}
@media (max-width: 1024px) {
	.comments-list{
		margin: 15px 0 0;
	}
}
@media (max-width: 768px) {
	.comments-list{
		margin: 10px 0 0;
	}
	.comments-list .comt-box{
		margin: 5px 0;
	}
	.comments-list .comt-box .comt-avatar{
		width: 30px;
		height: 30px;
		margin: 4px 0px;
	}
	.comments-list .comt-box .comt-main{
		margin: 0 30px 0 40px;
		padding: 3px 0;
		line-height: 16px;
		font-size: 12px;
	}
	.comments-list .comt-box .comt-main p{
		font-size: 12px;
		line-height: 16px;
	}
	.comments-list .comt-box .comt-main img{
		max-width: 16px!important;
		width: 16px!important;
		max-height: 16px!important;
		height: 16px!important;
	}
	.comments-list .comt-box .comt-approved{
		padding: 0 5px;
		font-size: 10px;
		border-radius: 3px;
	}
	.comments-list .comt-box .comt-meta{
		font-size:10px;
	}
	.comments-list .comt-box .comt-meta .comt-author{
		margin: 0 5px 0 0;
	}
	.comments-list .comt-order{
		top: 10px;
		font-size: 14px;
	}
	.comments-list .comt-box .comment-reply-link{
		margin-left: 5px;
		font-size: 10px;
	}
	.comments-list .content .depth-1 .children{
		margin-left: 16px;
	}
}
@media (max-width: 480px) {
	.comments-list{
		margin: 5px 0 0;
	}
}

