/** WordPress 后台相关CSS文件 */

/* 单栏样式*/
.post-meta-box-s1{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.post-meta-box-s1 p{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    line-height: 30px;
}
.post-meta-box-s1 p lable{
    order: -1;
    flex-basis: 60px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
    text-align-last: justify;
}
.post-meta-box-s1 p input{
    flex-grow: 1;
    height: 100%;
    min-height: auto;
    font-size: 14px;
}
/* 双栏样式 */
.post-meta-box-s2{
    display: inline-block;
    position: relative;
    width: calc(50% - 12px);
    height: auto;
    margin: 0 auto;
    margin-right: 20px;
    overflow: hidden;
}
.post-meta-box-s2:nth-child(even){
    margin-right: 0;
}
.post-meta-box-s2 p{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    line-height: 30px;
}
.post-meta-box-s2 p lable{
    order: -1;
    flex-basis: 60px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
    text-align-last: justify;
}
.post-meta-box-s2 p input{
    flex-grow: 1;
    height: 100%;
    min-height: auto;
    font-size: 14px;
}
@media (max-width: 520px) {
    .post-meta-box-s2{
        width: 100%;
        margin: 0;
    }
    .post-meta-box-s2:nth-child(even){
        margin: 0;
    }
}

/* 三栏样式 */
.post-meta-box-s3{
    display: inline-block;
    width: calc(33.33% - 10px);
    height: auto;
    margin: 0 auto;
    margin-right: 10px;
    overflow: hidden;
}
.post-meta-box-s3:nth-child(3n){
    margin-right: 0;
}
.post-meta-box-s3 p{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    line-height: 30px;
}
.post-meta-box-s3 p lable{
    order: -1;
    flex-basis: 60px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
    text-align-last: justify;
}
.post-meta-box-s3 p input{
    flex-grow: 1;
    height: 100%;
    min-height: auto;
    font-size: 14px;
}
@media (max-width: 1366px) {
    .post-meta-box-s3{
        width: calc(49% - 10px);
        margin-right: 20px;
    }
    .post-meta-box-s3:nth-child(3n){
        margin-right: 20px;
    }
    .post-meta-box-s3:nth-child(2n){
        margin-right: 0;
    }
}
@media (max-width: 520px) {
    .post-meta-box-s3{
        width: 100%;
        margin: 0;
    }
    .post-meta-box-s3:nth-child(even){
        margin: 0;
    }
}
