/**
 * 文章分类页面
 */

/**==================== 默认分类样式 ====================**/
.category-header {
    padding: 1rem;
    background: #fff;
}
.category-header h1.title{
    height: 1.2rem;
    line-height: 1.2rem;
    margin: 5px 0;
    padding-left: 10px;
    border-left: 5px solid #45B6F7;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #555;
}
.category-header h1.title small{
    margin-left: 7px;
    font-size: 0.8rem;
    color: #999;
}
.category-header .desc{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #999;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.category .content-wrapper{
    min-height: 500px;
}


/**==================== 产品分类样式 ====================*/
.category .cat-product-content{
    cursor: default;
    margin-right: 0;
    margin-left: 200px;
}
/* 侧栏 */
.category .cat-product-sidebar{
    z-index: 999;
    position: absolute;
    top: 0;
    width: 180px;
    margin-left: 0;
}
.category .cat-product-sidebar .filters-wrapper{
    padding: 15px;
    background: #fff;
    overflow: hidden;
}
.category .cat-product-sidebar .filters-wrapper h3{
    cursor: default;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    overflow: hidden;
}
.category .cat-product-sidebar .filters-wrapper h3 i{
    margin-right: 5px;
}
.category .cat-product-sidebar .filters-wrapper ul{
    display: block;
    margin: 0;
    border: 0;
    padding:0;
    list-style:none;
}
.category .cat-product-sidebar .filters-wrapper>ul{
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    overflow: hidden;
}
.category .cat-product-sidebar .filters-wrapper>ul:before{
    content:'';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 10px;
    border-left: 1px dashed #ccc;
}
.category .cat-product-sidebar .filters-wrapper ul ul{
    padding-left: 10px
}
.category .cat-product-sidebar .filters-wrapper ul li{
    position: relative;
    margin: auto;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    color: #00b424;
}
.category .cat-product-sidebar .filters-wrapper ul li::after{
    content: '';
    position: absolute;
    top: 0.7rem;
    right: calc(100% + 5px);
    width: 100%;
    border-top: 1px dashed #ccc;
}
.category .cat-product-sidebar .filters-wrapper ul li.active>.children{
    display:block
}
.category .cat-product-sidebar .filters-wrapper ul .current-cat>a{
    color: #24a0f0;
}
.category .cat-product-sidebar .filters-wrapper ul a{
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    color: #555;
}
.category .cat-product-sidebar .qrcode-wrapper{
    margin-top: 2rem;
    padding: 15px;
    text-align: center;
    background:#fff;
}
.category .cat-product-sidebar .qrcode-wrapper h4{
    display: block;
    position: relative;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.category .cat-product-sidebar .qrcode-wrapper canvas{
    display: block;
    position: relative;
    margin: 10px auto;
    border: 1px solid #eee;
    padding: 10px;
}
/* 主体 */
.category .cat-product-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    overflow: hidden;
}
.category .cat-product-content .product{
    position: relative;
    background: #fff;
    overflow: hidden;
}
.category .cat-product-content .product:hover{
    box-shadow: 5px 5px 5px #aaa;
}
.category .cat-product-content .product .thumb-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow:hidden;
}
.category .cat-product-content .product .thumb{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 100%;
}
.category .cat-product-content .product img{
    transition-duration: 0.5s;
    width: 100%;
}
.category .cat-product-content .product .thumb:hover img{
    transform: scale(1.2);
}
.category .cat-product-content .product .details-wrapper{
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 1rem;
}
.category .cat-product-content .product .title{
    width: 100%;
    height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
}
.category .cat-product-content a{
    text-decoration: none;
    display: block;
    color: #333;
}
.category .cat-product-content a:hover{
    color: #ff0024;
}
.category .cat-product-content .product .title h2{
    margin: 0 auto;
    font-size: 1rem;
    font-weight: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.category .cat-product-content .product .price{
    width: 100%;
    margin-top: 10px;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #24a0f0;
}
.category .cat-product-content .product .price .sale{
    float: right;
    margin-left: 1rem;
    color: #ff0024;
}
.category .cat-product-content .product .price small{
    position: relative;
    bottom: 3px;
    margin-right: 5px;
    padding: 1px 7px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #fff;
    background: #ff0024;
}
.category .cat-product-content .product .no-price{
    font-size: 1rem;
    font-weight: normal;
    color: #ff5722;
}
@media (max-width: 1366px){
    .category .cat-product-content .product .price{
        font-size: 1.2rem;
    }
}
@media (max-width: 1024px){
    .category .cat-product-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px){
    .category .cat-product-sidebar{
        position: relative;
        width: 100%;
        padding: 0;
    }
    .category .cat-product-sidebar .filters-wrapper{
        padding: 0;
    }
    .category .cat-product-sidebar .filters-wrapper h3{
        display: none;
    }
    .category .cat-product-sidebar .filters-wrapper ul{
        margin: 0;
        padding: 0;
    }
    .category .cat-product-sidebar .filters-wrapper ul.children{
        display: none;
    }
    .category .cat-product-sidebar .filters-wrapper ul::before{
        display: none;
    }
    .category .cat-product-sidebar .filters-wrapper ul li::after{
        display: none;
    }
    .category .cat-product-sidebar .filters-wrapper ul li{
        float: left;
        display: block;
        width: 25%;
        height: 30px;
        line-height: 30px;
        margin-top: 0;
        padding: 0 7px;
        text-align: center;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
        overflow: hidden;
    }
    .category .cat-product-sidebar .filters-wrapper ul li.current-cat{
        background-color: #f5f5f5;
    }
    .category .cat-product-sidebar .qrcode-wrapper{
        display: none;
    }
    .category .cat-product-content{
        margin-left: 0;
    }
}
@media (max-width: 480px){
    .category .cat-product-content{
        grid-template-columns: 1fr 1fr;
    }
    .category .cat-product-content .product{
        padding: 10px;
    }
}



/**==================== 视频分类样式 ====================*/
.category .cat-video-content{
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}
.category .cat-video-content .video{
    position: relative;
    padding: 15px;
    background: #fff;
    overflow: hidden;
}
.category .cat-video-content .video .thumb-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow:hidden;
}
.category .cat-video-content .video .thumb-wrapper .thumb{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 100%;
}
.category .cat-video-content .video .thumb-wrapper img{
    transition-duration: 0.5s;
    object-fit: cover;
    width: 100%;
}
.category .cat-video-content .video .thumb-wrapper:hover img{
    transform: scale(1.2);
}
.category .cat-video-content .video .thumb-wrapper .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.36;
}
.category .cat-video-content .video .thumb-wrapper i{
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: #fff;
}
.category .cat-video-content .video .thumb-wrapper:hover i{
    display: block;
}
.category .cat-video-content .video .details-wrapper{
    margin-top: 1rem;
}
.category .cat-video-content .video .details-wrapper a{
    text-decoration: none;
    color: #555;
}
.category .cat-video-content .video .details-wrapper a:hover{
    color: #24a0f0;
}
.category .cat-video-content .video .details-wrapper h2{
    height: 1.2rem;
    line-height: 1.2rem;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
}
.category .cat-video-content .video .details-wrapper .metas{
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.category .cat-video-content .video .details-wrapper .meta{
    margin-right: 5px;
}
.category .cat-video-content .video .details-wrapper .user{
    float: right;
}
.category .cat-video-content .video .details-wrapper .meta i{
    margin-right: 3px;
}
@media (max-width: 1024px){
    .category .cat-video-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px){
    .category .cat-video-content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:480px){
    .category .cat-video-content{
        gap: 10px;
    }
    .category .cat-video-content .video{
        padding: 10px;
    }
}

