/**
 * 评论样式
 */

/**==================== 评论表单样式开始 ====================*/
.hide{
    display: none;
}
/* 整体布局 */
.comments-wrapper{
    cursor: default;
    overflow: hidden;
}
.comments-wrapper .title{
    width: 100%;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.comments-wrapper .title h3{
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: normal;
}
.comments-wrapper .title small{
    font-size: 0.8rem;
    color: #ff5e52;
}

/* 评论盒子 */
.comments-box{
    position: relative;
    overflow: hidden;
}
.comments-box a{
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    color: #aaa;
}
.comments-box a:hover{
    color: #24a0f0;
}
/* 评论关闭 */
.comments-box .closed{
    padding: 3rem 1.5rem;
    border-radius: 5px;
    text-align: center;
    background: #f5f5f5;
}
.comments-box h3{
    line-height: 2rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #ff5e52;
}
/** 用户必须注册并登录才可以发表评论 */
.comments-box .sign-wrapper{
    padding: 1.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    background: #f5f5f5;
}
.comments-box .sign-wrapper .msg{
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: #555;
}
.comments-box .sign-wrapper p{
    display: inline-block;
    margin: 10px  0 5px;
}
.comments-box .sign-wrapper .btn{
    color: #fff;
}
/** 评论者必须填入名字和电子邮箱地址 */
.comments-box .author-info{
    position: relative;
    margin-top: 1rem;
}
.comments-box .author-info ul{
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin: 0 auto;
}
.comments-box .author-info li{
    list-style-type: none;
    height: 2rem;
    line-height: 2rem;
    margin: 0 auto;
    margin-bottom: 5px;
}
.comments-box .author-info input{
    outline: none;
    transition-duration: 0.5s;
    display: inline-block;
    width: 200px;
    height: 2rem;
    padding: 5px 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.8rem;
}
.comments-box .author-info input:focus{
    border: 1px solid #24b4ff;
}
.comments-box .author-info input::-webkit-input-placeholder{
    content: "";
    font-size: 0.8rem;
}
.comments-box .author-info span{
    margin-left: 10px;
    font-size: 1rem;
}
.comments-box .author-info span small{
    font-size: 0.8rem;
}
/* 评论框 # 头像 */
.comments-box{
    overflow: hidden;
}
.comments-box .content-wrapper{
    width: 100%;
    padding: 0 0 0 64px;
    overflow: hidden;
}
.comments-box .avatar-wrapper{
    float: left;
    width: 48px;
    height: 48px;
    margin: 5px 0 5px -64px;
    text-align: center;
}
.comments-box .avatar-wrapper .avatar{
    height: 100%;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 50%;    
}
.comments-box .avatar-wrapper p{
    display: block;
    line-height: 1rem;
    margin: 5px 0;
    font-size: 0.8rem;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
    color: #24a0f0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.comments-box .change-author-info{
    margin: 3px 0;
}
.comments-box .cancel-comment-reply-link{
    display: none;
}

/* 评论框 # 输入框 */
.comments-box .content-wrapper .content{
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.comments-box .content textarea{
    outline: none;
    transition-duration: .5s;
    resize: vertical;
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    border: 0;
    font-size: 1rem;
    line-height: 20px;
    color: #666;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    overflow-x: hidden;
    overflow-y: auto;
}
.comments-box .content:hover{
    border-color:#24b4ff;
}
.comments-box .ctrls{
    position: relative;
    height: 2rem;
    line-height: 2rem;
    background: #f9f9f9;
    overflow: hidden;
}
.comments-box .ctrls .submit{
    outline: 0;
    position: absolute;
    height: 2rem;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    border: 0;
    font-size: 1rem;
    color: #fff;
    background-color: #24a0f0;
}
.comments-box .ctrls .submit:hover{
    opacity: 0.8;
}
/* 评论小工具 */
.article-content img.wp-smiley{
    display: inline-block;
}
.comments-box .ctrls span{
    display: inline-block;
    margin: 0 7px;
}
.comments-box .ctrls span i{
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #999;
}
.comments-box .emojis-wrapper{
    z-index: 999;
    position: relative;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: justify;
    background: #fafafa;
}
.comments-box .emojis-wrapper a{
    display: inline-block;
}
.comments-box .emojis-wrapper img{
    width: 30px;
    height: 30px;
}
/** 校验消息 */
.comments-box .tips{
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
}
.comments-box .tip{
    z-index: 3;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background: #7AD071;
}
.comments-box .error{
    background: #FF5E52;
}
.comments-box .tip span{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .comments-box .closed {
        padding: 2rem 1rem;
    }
    .comments-box .sign-wrapper {
        padding: 1rem 0.5rem;
    }
    .comments-box .author-info input {
        width: 160px;
    }
    .comments-box .content-wrapper {
        padding: 0 0 0 50px;
    }
    .comments-box .avatar-wrapper {
        float: left;
        width: 42px;
        height: 42px;
        margin: 3px 0 3px -50px;
    }
}
/**==================== 评论表单样式结束 ====================*/

/**==================== 评论列表样式开始 ====================*/
.comments-list{
    cursor: default;
    position: relative;
    width: 100%;
    overflow: hidden;
}
/** module_comments_list.php 文件 */
.comments-list ol{
    margin: 1rem 0 0;
}
.comments-list ol li{
    list-style-type: none;
    display: block;
    position: relative;
    overflow: hidden;
}
.comments-list ol>li.depth-1{
    margin-left: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
.comments-list ol li .children{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.comments-list ol .children li{
    border-top: 1px solid #eee;
}
.comments-list .content-wrapper{
    margin: 10px 0;
}
.comments-list .content-wrapper .avatar-wrapper{
    float: left;
    display: inline;
    position: relative;
    width: 36px;
    height: 36px;
    margin-top: 2px;
    margin-right: 10px;
}
.comments-list .comments-box{
    margin-top: 10px;
}
.comments-list .comments-box .avatar-wrapper{
    width: 48px;
    height: 48px;
}
.comments-list .content-wrapper .avatar-wrapper .avatar{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #eee;
    overflow: hidden;
}
.comments-list .order{
    z-index: 999;
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 1.1rem;
    color: #ccc
}
.comments-list .content-wrapper .content{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.comments-list .content-wrapper .content p{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-size: 1rem;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.comments-list .comment-new .content-wrapper .content p{
    -webkit-line-clamp: 999999999;
}
.comments-list .content-wrapper .content img{
    display: inline-block;
    max-width: 20px!important;
    width: 20px!important;
    max-height: 20px!important;
    height: 20px!important;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: middle;
    text-align: justify;
}
.comments-list .content-wrapper .meta span{
    margin-right: 5px;
    font-size:0.8rem;
    color:#999;
}
.comments-list .content-wrapper .meta a{
    text-decoration: none;
    margin-right: 5px;
    font-size:0.8rem;
    color: #999;
}
.comments-list .content-wrapper .meta a:hover{
    color: #24a0f0;
}
.comments-list .content-wrapper .meta span a{
    margin-right: 0;
}
.comment-new li{
    border-bottom: 0;
}

/* 评论列表翻页 */
.comments-pagination{
    position: relative;
    width: 100%;
    margin: 1.2rem auto;
    text-align: center;
}
.comments-pagination .page-numbers{
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    margin: 0 3px;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 1rem;
    color: #555;
    background-color: #f1f1f1;
}
.comments-pagination span.page-numbers{
    color: #fff;
    background-color: #24a0f0;
}
@media (max-width: 768px){
    .comments-pagination .page-numbers{
        margin: 0 2px;
        padding: 4px 7px;
    }
}

/**==================== 评论列表样式结束 ====================*/
