.alignnone{margin:0 auto;}
.alignleft{float:left;text-align:left;margin-right:10px}
.aligncenter{margin: 0 auto;text-align: center;display: block;}
.alignright{float:right;text-align:right;margin-left:10px}
.wp-dopts{color: #3309B9;}
.wp-caption{margin-bottom: 20px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.wp-caption img{margin: 0 0 5px;}
.wp-caption p{margin-bottom: 10px;text-indent: 0;}
.wp-caption.alignnone{text-align: center;}
.wp-caption:hover .wp-caption-text{color: #45B6F7;}
body{
    background: #fff;
}
body a{
    text-decoration: blink;
    color: #333;
}
body a:hover{
    text-decoration: blink;
    color: #24A0F0;
}
h1{
    margin: 20px 0;
    padding: 5px 12px;
    border: 0;
    text-indent: 0;
    font-size: 24px;
    font-weight: bold; 
}
h2{
    margin: 15px 0;
    padding: 5px 10px;
    border: 0;
    border-left: 5px solid #24a0f0;
    text-indent: 0;
    font-size: 20px;
    font-weight: bold; 
    background: #fbfbfb;
}
h3{
    margin: 10px 0;
    padding: 3px 10px;
    border: 0;
    border-left: 5px solid #24a0f0;
    text-indent: 0;
    font-size: 18px;
    font-weight: bold; 
    background: #fbfbfb;
}
h4{
    margin: 10px 0;
    padding: 3px 10px;
    border: 0;
    text-indent: 0;
    font-size: 16px;
    font-weight: bold; 
    background: #fbfbfb;
}
h5{
    margin: 10px 0;
    padding: 3px 10px;
    border: 0;
    text-indent: 0;
    font-size: 14px;
    font-weight: bold;
}
h6{
    margin: 10px 0;
    padding: 3px 10px;
    border: 0;
    text-indent: 0;
    font-size: 12px;
    font-weight: bold;
}
p{
    margin: 10px;
    word-wrap: break-word;
}
ul{
    margin: 10px 0;
}
ul li{
    float: none;
    list-style-position: inside;
    list-style-type: disc;
}
ol{
    margin: 10px 0;
}
ol li{
    float: none;
    list-style-position: inside;
    list-style-type: decimal;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
blockquote{
    position: relative;
    margin: 20px;
    border: 0;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    background: #fafafa;
}
blockquote:before{
    content: "\f10d";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-style: normal;
    font-family: FontAwesome;
    text-align: justify;
    color: #aaa;
}
pre {
    max-height: 360px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 5px;
    font-size: 10px;
    text-indent: 0;
    color: #ffa;
    background: rgba(8, 16, 24, 1);
    overflow: auto;
}
pre::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
pre::-webkit-scrollbar-thumb{
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
    background: rgba(60,120,180,0.36);
}
pre::-webkit-scrollbar-thumb:hover{
    background: rgba(60, 160, 240, 1);
}
pre::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    background: rgba(2,3,6,0.1);
}
/** Table 表格样式 **/
table{
    position: relative;
    width:100%;
    height: auto;
    margin: 10px 0;
    padding: 0;
    border:1px solid #c9c9c9;
    text-indent: 0;
    background: none;
    border-collapse: collapse;
}
table th{
    margin: 0;
    padding: 3px 5px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    background: #24a0f018 ; 
    border-collapse: collapse;
}
table td{
    margin: 0;
    padding: 1px 3px;
    border: 1px solid #c9c9c9 ;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    word-break: break-all;
    border-collapse: collapse;
}
table tr:nth-child(odd){
    background:#fff; 
}
table tr:nth-child(even){
    background: #fbfbfb;
}