.alignnone{margin:0 auto;}
.alignleft{float:left;text-align:left;margin-right:10px}
.aligncenter{margin: 0 auto;text-align: center;display: block;}
.alignright{float:right;text-align:right;margin-left:10px}
.wp-dopts{color: #3309B9;}
.wp-caption{margin-bottom: 20px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.wp-caption img{margin: 0 0 5px;}
.wp-caption p{margin-bottom: 10px;text-indent: 0;}
.wp-caption.alignnone{text-align: center;}
.wp-caption:hover .wp-caption-text{color: #45B6F7;}


/* 常用标签样式 */
html{
    font-family: "微软雅黑", "苹果雅黑", Arial, sans-serif;
    font-size: 15px;
}
@media (max-width: 1024px) {
    html{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    html{
        font-size: 12px;
    }
}
body{
    color: #333;
    background: #eee;
    overflow-x: hidden;
}
/* 标题 */
h1{
    text-indent: 0;
    margin: 20px auto;
    font-size: 22px;
    font-weight: bold;
}
h2{
    text-indent: 0;
    margin: 15px auto;
    font-size: 20px;
    font-weight: bold;
}
h3{
    text-indent: 0;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
}
h4{
    text-indent: 0;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
}
h5{
    text-indent: 0;
    margin: 10px auto;
    font-size: 15px;
    font-weight: bold;
}
h6{
    text-indent: 0;
    margin: 10px auto;
    font-size: 14px;
    font-weight: bold;
}
p{
    margin: 1.2em auto;
    line-height: 1.5em;
    font-size: 1rem;
    text-align: justify;
}
a{
    font-weight: normal;
    color: #24a0f0;
    text-decoration: none;
}
ul, ol{
    list-style-position: inside;
    list-style-type: disc;
    margin: 1.2em auto;
    font-size: 1rem;
}
ol{
    list-style-type: decimal;
}
ol ol, ol ul, ul ol, ul ul {
    margin: .6em auto;
}
li{
    margin-left: 1.5em;
    line-height: 1.5em;
    font-size: 15px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
table{
    max-width: 100%;
    margin: 1.2em auto;
    border: 1px solid #c9c9c9;
}
tr:nth-child(odd){
    background:#fff; 
}
tr:nth-child(even){
    background: #fbfbfb;
}
th{
    padding: 3px 5px;
    border: 1px solid #c9c9c9;
    font-size: .9em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    background: #d2eeff; 
    border-collapse: collapse;
}
td{
    padding: 3px 5px;
    border: 1px solid #c9c9c9 ;
    font-size: .9em;
    vertical-align: middle;
}
blockquote{
    position: relative;
    margin: 1.2em auto;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1em;
    color: #999;
    background: #fafafa;
}
blockquote::before{
    content: "\f10d";
    text-indent: 0;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #888;
}
blockquote::after{
    content: "\f10e";
    text-indent: 0;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    color: #888;
}
blockquote p:first-child, blockquote ol:first-child, blockquote ul:first-child {
    margin-top: 5px;
}
blockquote p:last-child, blockquote ol:last-child, blockquote ul:last-child {
    margin-bottom: 5px;
}

/* 代码高亮样式 */
pre.highlight{
    text-indent: 0;
    margin: 1.2em auto;
}
pre.highlight code {
    display: block;
    max-height: 30rem;
    padding: 1rem;
    font-family: Consolas, Monaco, monospace;
    overflow-y: auto;
    overflow-x: hidden;
}
pre.highlight code.hljs {
    display: block;
    padding: 1rem;
    overflow-x: auto;
}