/**==================== 页面相关样式，对应于 pages 文件夹下的相关文件 ====================*/




/**==================== 首行缩进 ====================**/
.post-indent .content .main .page-content{
    text-indent: 2em;
}
/**==================== 默认页面样式 ====================**/
/** 页面菜单 */
.page .page-sidebar{
    float: left;
    z-index: 9;
    display: block;
    position: relative;
    width: 120px;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
}
.page .page-menus{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px 0 0;
    border: 0;
    padding: 15px;
    list-style: none;
    background: #fff;
}
.page .page-menus-list{
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}
.page .page-menus-list li{
    width: auto;
    height: 40px;
    margin: 0 -20px;
    border: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    line-height: 40px;
    list-style-type: none;
}
.page .page-menus-list li a{
    display: block;
    margin: 0;
    border: 0;
    padding: 0 15px;
    font-size: 15px;
}
.page .page-menus-list li.current_page_item > a{
    color: #24a0f0;
    background: #e3eef6;
}
/** 页面内容 */
.page .page-content{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
}
.page .page-content .page-main{
    zoom: 1;
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 20px 0 0 135px;
    border: 0;
    padding: 15px 20px;
    background: #fff;
}
.page .page-content .page-main .page-header{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}
.page .page-content .page-main .page-header .page-title{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0;
    padding: 0 0 10px 0;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
.page .page-content .page-main p{
    margin: 10px;
    padding: 0;
    border: 0;
    font-size: 15px;
    line-height: 20px;
    color: #555;
}
.page .page-content .page-main img{
    display: block;
    margin: 0 auto;
    border: 0;
    padding: 0;
}
@media (max-width: 1366px){
    /** 页面菜单 */
    .page .page-sidebar{
        width: 120px;
    }
    .page .page-menus{
        margin: 20px 0 0;
        padding: 20px;
    }
    .page .page-menus-list li{
        height: 40px;
        margin: 0 -20px;
        line-height: 40px;
    }
    .page .page-menus-list li a{
        padding: 0 15px;
        font-size: 15px;
    }
    /** 页面内容 */
    .page .page-content .page-main{
        margin: 20px 0 0 135px;
        padding: 15px 20px;
    }
}
@media (max-width: 1024px){
    /** 页面菜单 */
    .page .page-sidebar{
        float: none;
        width: auto;
        margin: 0 10px;
    }
    .page .page-menus{
        margin: 10px auto 0;
        padding: 0;
    }
    .page .page-menus-list{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .page .page-menus-list li{
        display: inline-block;
        width: 100%;
        height: 40px;
        margin: 0;
        border: 0;
        padding: 0;
        text-align: center;
        line-height: 40px;
        list-style-type: none;
        overflow: hidden;
    }
    .page .page-menus-list li a{
        padding: 0 10px;
        font-size: 14px;
    }
    /** 页面内容 */
    .page .page-content{
        width: auto;
        margin: 0 10px;
    }
    .page .page-content .page-main{
        margin: 15px auto 0;
        padding: 15px 15px;
    }
    .page .page-content .page-main .page-header{
        margin: 5px auto 0;
    }
    .page .page-content .page-main .page-header .page-title{
        padding: 0 0 10px 0;
        font-size: 20px;
        line-height: 35px;
    }
    .page .page-content .page-main p{
        margin: 10px;
        padding: 0;
        border: 0;
        font-size: 14px;
        line-height: 20px;
        color: #555;
    }
}
@media (max-width: 768px){
    /** 页面菜单 */
    .page .page-sidebar{
        margin: 0 5px;
    }
    .page .page-menus{
        margin: 10px auto 0;
    }
    .page .page-menus-list li{
        height: 35px;
        line-height: 35px;
    }
    .page .page-menus-list li a{
        padding: 0 5px;
        font-size: 12px;
    }
    /** 页面内容 */
    .page .page-content{
        margin: 0 5px;
    }
    .page .page-content .page-main{
        margin: 5px auto 0;
        padding: 5px 15px;
    }
    .page .page-content .page-main .page-header{
        margin: 5px auto 0;
    }
    .page .page-content .page-main .page-header .page-title{
        padding: 0 0 5px 0;
        font-size: 18px;
        line-height: 30px;
    }
}
@media (max-width: 480px){
    /** 页面菜单 */
    .page .page-sidebar{
        margin: 0;
    }
    .page .page-menus{
        margin: 5px auto 0;
    }
    .page .page-menus-list li{
        height: 30px;
        line-height: 30px;
    }
    .page .page-menus-list li a{
        padding: 0;
        font-size: 10px;
    }
    /** 页面内容 */
    .page .page-content{
        margin: 0;
    }
    .page .page-content .page-main{
        margin: 5px auto 0;
        padding: 5px 10px;
    }
    .page .page-content .page-main .page-header{
        margin: 0 auto;
    }
    .page .page-content .page-main .page-header .page-title{
        padding: 0 0 5px 0;
        font-size: 16px;
        line-height: 30px;
    }
}

/**==================== 友链页面样式 ====================**/
.page-content .page-friendly-links{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px auto 0;
    border: 0;
    padding: 0 15px;
    overflow: hidden;
}
.page-content .page-friendly-links li{
    display: block;
    margin: 10px auto 0;
    border: 0;
    padding: 0;
}
.page-content .page-friendly-links li h2{
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: 0;
    padding: 0 10px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    background: #fafafa;
}
.page-content .page-friendly-links li ul{
    clear: both;
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.page-content .page-friendly-links li ul li{
    float: left;
    display: block;
    width: 18%;
    height: 36px;
    margin: 5px 1%;
    border: 0;
    padding: 0;
}
.page-content .page-friendly-links li ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid #eee;
    padding: 3px 9px;
    line-height: 28px;
    border-radius: 3px;
    font-size: 15px;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    word-break: break-all;
}
.page-content .page-friendly-links li ul li a:hover{
    border: 1px solid #24a0f0;
    color: #fff;
    background: #00A0F0;
}
.page-content>.page-main>.page-friendly-links>li>ul>li>a>img{
    float: left;
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
    border: 1px solid #eee;
    padding: 0;
    border-radius: 50%;
}
@media (max-width: 1366px){
    .page-content .page-friendly-links{
        margin: 15px auto 0;
        padding: 0 15px;
    }
}
@media (max-width: 1024px){
    .page-content .page-friendly-links{
        margin: 15px auto 0;
        padding: 0 15px;
    }
}
@media (max-width: 768px){
    .page-content .page-friendly-links{
        margin: 10px auto 0;
        padding: 0 10px;
    }
    .page-content .page-friendly-links li{
        margin: 5px auto 0;
    }
    .page-content .page-friendly-links li h2{
        height: 24px;
        padding: 0 5px;
        line-height: 24px;
        font-size: 14px;
    }
    .page-content .page-friendly-links li ul{
        margin: 5px auto;
    }
    .page-content .page-friendly-links li ul li{
        width: 23%;
        height: 32px;
        margin: 5px 1%;
    }
    .page-content .page-friendly-links li ul li a{
        border: 1px solid #eee;
        padding: 3px 9px;
        line-height: 24px;
        border-radius: 0;
        font-size: 14px;
    }
    .page-content>.page-main>.page-friendly-links>li>ul>li>a>img{
        width: 24px;
        height: 24px;
        margin: 0 3px 0 0;
        border: 1px solid #eee;
    }
}
@media (max-width: 480px){
    .page-content .page-friendly-links{
        margin: 10px auto 0;
        padding: 0 10px;
    }
    .page-content .page-friendly-links li{
        margin: 5px auto 0;
    }
    .page-content .page-friendly-links li h2{
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 16px;
    }
    .page-content .page-friendly-links li ul{
        margin: 5px auto;
    }
    .page-content .page-friendly-links li ul li{
        width: 48%;
        height: 36px;
        margin: 3px 1%;
    }
    .page-content .page-friendly-links li ul li a{
        padding: 3px 9px;
        line-height: 28px;
        font-size: 14px;
    }
    .page-content>.page-main>.page-friendly-links>li>ul>li>a>img{
        width: 28px;
        height: 28px;
        margin: 0 5px 0 0;
    }
}


/**==================== 归档页面样式 ====================**/
.page-content .archives{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0;
    padding: 0 15px;
}
.page-content .archives .item{
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid #eee;
    padding: 0;
    overflow: hidden;
}
.page-content .archives .item h3{
    float: left;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: normal;
    color: #F15A23;
    background: none;
}
.page-content .archives .item .archives-list{
    display: block;
    margin: 0 0 15px 100px;
    border: 0;
    padding: 0 0 0 10px;
}
.page-content .archives .item .archives-list li{
    display: block;
    margin: 0 0 5px 15px;
    border: 0;
    padding: 0;
    color: #555;
    font-size: 15px;
    list-style-type: disc;
}
.page-content .archives .item .archives-list li time{
    display: inline-block;
    width: 40px;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
}
.page-content .archives .item .archives-list li span{
    display: inline-block;
    margin: 0 0 0 10px;
    border: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
    color: #3cc83c;
}
.page-content .archives .item .archives-list li a:hover{
    color: #24a0f0;
}
@media (max-width: 1366px){
    
}
@media (max-width: 1024px){
    
}
@media (max-width: 768px){
    .page-content .archives{
        padding: 0 10px;
    }
    .page-content .archives .item{
        margin: 10px 0;
    }
    .page-content .archives .item h3{
        font-size: 16px;
    }
    .page-content .archives .item .archives-list{
        margin: 0 0 10px 80px;
        padding: 0 0 0 5px;
    }
    .page-content .archives .item .archives-list li{
        margin: 0 0 5px 10px;
        font-size: 14px;
    }
    .page-content .archives .item .archives-list li time{
        width: 40px;    }
    .page-content .page-content .archives .item .archives-list li span{
        margin: 0 0 0 5px;
        font-size: 10px;
    }
}
@media (max-width: 480px){
    .page-content .archives{
        padding: 0 10px;
    }
    .page-content .archives .item{
        margin: 10px 0;
    }
    .page-content .archives .item h3{
        float: none;
        display: block;
        width: 100%;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .page-content .archives .item .archives-list{
        display: block;
        margin: 10px 0;
        padding: 0;
    }
    .page-content .archives .item .archives-list li{
        margin: 0 0 5px 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .page-content .archives .item .archives-list li time{
        width: 40px;    }
    .page-content .archives .item .archives-list li span{
        margin: 0 0 0 5px;
        font-size: 10px;
    }
}

/**==================== 读者墙页面样式 ====================**/
.page-content .readers-wall{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.page-content .readers-wall a{
    float: left;
    display: block;
    width: 72px;
    height: 60px;
    margin: 0 5px 15px 5px;
    text-align: center;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-decoration: none;
}
.page-content .readers-wall a:hover{
    color: #FF5E52;
}
.page-content .readers-wall a span{
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}
.page-content .readers-wall a span strong{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.page-content .readers-wall img.avatar{
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto 5px;
    border: 1px solid #eee;
    padding: 0;
    border-radius: 5px;
}
.page-content .readers-wall a.item-top{
    zoom: 1;
    width: 31.333333%;
    height: auto;
    margin: 0 1% 20px;
    padding: 10px 1%;
    border-radius: 5px;
    text-align: left;
    color: #fff;
    background: none;
}
.page-content .readers-wall a.item-top .avatar{
    float: left;
    height: 36px;
    width: 36px;
    margin: 10px 10px 0;
}
.page-content .readers-wall a.item-top h4{
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
}
.page-content .readers-wall a.item-top h4 small{
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    color: #fcfcfc;
}
.page-content .readers-wall a.item-top span{
    display: block;
    height: 36px;
    width: auto;
    margin: 10px 0 0 50px;
}
.page-content .readers-wall a.item-top span strong{
    display: block;
    height: 20px;
    width: auto;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
}
.page-content .readers-wall a.item-top span b{
    display: block;
    width: auto;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
}
.page-content .readers-wall a.item-top:hover{
    background-color: #f1f1f1;
}
.page-content .readers-wall a.item-1{
    color: #fff;
    background: #ffc800;
    background: -webkit-gradient( linear, left top, right bottom, from(#ffc800), to(#fff001) ) no-repeat;
    background: -webkit-linear-gradient(left, #ffc800, #fff001) no-repeat;
    background: linear-gradient(90deg,#ffc800, #fff001) no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(240,160,0,0.5);
    box-shadow: 0 3px 5px rgba(240,160,0,0.5);
}
.page-content .readers-wall a.item-2{
    color: #fff;
    background: #ccc;
    background: -webkit-gradient( linear, left top, right bottom, from(#ccc), to(#eee) ) no-repeat;
    background: -webkit-linear-gradient(left, #ccc, #eee) no-repeat;
    background: linear-gradient(120deg, #ccc, #eee) no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(180,180,180,0.5);
    box-shadow: 0 3px 5px rgba(180,180,180,0.5);
}
.page-content .readers-wall a.item-3{
    color: #fff;
    background: #e88b00;
    background: -webkit-gradient( linear,left top, right bottom, from(#e88b00), to(#ffc800) ) no-repeat;
    background: -webkit-linear-gradient(left, #e88b00, #ffc800) no-repeat;
    background: linear-gradient(90deg, #e88b00, #ffc800) no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(240,160,0,0.5);
    box-shadow: 0 3px 5px rgba(240,160,0,0.5);
}
@media (max-width: 1366px){
    .page-content .readers-wall{
        margin: 20px auto 0;
    }
}
@media (max-width: 1024px){
    .page-content .readers-wall{
        margin: 15px auto 0;
    }
}
@media (max-width: 768px){
    .page-content .readers-wall{
        margin: 10px auto 0;
    }
    .page-content .readers-wall a{
        width: 72px;
        height: 60px;
        margin: 0 5px 15px 5px;
        font-size: 12px;
    }
    .page-content .readers-wall img.avatar{
        margin: 5px auto;
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }
    .page-content .readers-wall a.item-top{
        margin: 0 1% 15px;
        padding: 10px 1%;
        border-radius: 3px;    
    }
    .page-content .readers-wall a.item-top .avatar{
        float: left;
        height: 30px;
        width: 30px;
        margin: 5px 5px 0;
    }
    .page-content .readers-wall a.item-top h4{
        line-height: 24px;
        font-size: 14px;
    }
    .page-content .readers-wall a.item-top h4 small{
        font-size: 10px;
    }
    .page-content .readers-wall a.item-top span{
        height: 30px;
        margin: 5px 0 0 40px;
    }
    .page-content .readers-wall a.item-top span strong{
        height: 16px;
        font-size: 12px;
        line-height: 16px;
    }
    .page-content .readers-wall a.item-top span b{
        height: 14px;
        font-size: 10px;
        line-height: 14px;
    }
}
@media (max-width: 480px){
    .page-content .readers-wall{
        margin: 10px auto 0;
    }
    .page-content .readers-wall a{
        float: none;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 5px 15px 5px;
        text-align: center;
        font-size: 12px;
        overflow: hidden;
        text-decoration: none;
    }
    .page-content .readers-wall img.avatar{
        width: 42px;
        height: 42px;
        margin: 0 auto 5px;
    }
    .page-content .readers-wall a.item-top{
        width: 48%;
        height: auto;
        margin: 0 1% 10px;
        padding: 10px 1%;
        border-radius: 5px;
    }
    .page-content .readers-wall a.item-top.item-1{
        width: 98%;    
    }
    .page-content .readers-wall a.item-top .avatar{
        height: 42px;
        width: 42px;
        margin: 10px 10px 0;
    }
    .page-content .readers-wall a.item-top h4{
        width: 100%;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
    }
    .page-content .readers-wall a.item-top.item-1 h4{
        font-size: 20px;
    }
    .page-content .readers-wall a.item-top h4 small i{
        display: none;
    }
    .page-content .readers-wall a.item-top span{
        display: block;
        height: 36px;
        width: auto;
        margin: 10px 0 0 60px;
    }
    .page-content .readers-wall a.item-top span strong{
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .page-content .readers-wall a.item-top span b{
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
}

/** 找回密码页面 */
.page .content .page-resetpassword{
    display: block;
    position: relative;
    min-height: 520px;
    width: 100%;
    margin: 20px 0;
    border: 0;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}
.page .content .page-resetpassword h1{
    font-size: 24px;
    font-weight: normal;
}
.page .content .page-resetpassword .steps{
    margin-bottom: 100px;
    overflow: hidden;
}
.page .content .page-resetpassword .steps li{
    float: left;
    position: relative;
    width: 33.33333%;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
    font-size: 16px;
    color: #555;
    background: #fff;
}
.page .content .page-resetpassword .steps li.active{
    color: #fff;
    background: #45B6F7;
}
.page .content .page-resetpassword form{
    min-height: 360px;
    width: 360px;
    margin: 0 auto;
    border: 0;
    padding: 0;
}
.page .content .page-resetpassword form h3{
    position: relative;
    height: 24px;
    margin: 15px auto;
    padding: 0;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #777;
    background: none;
}
.page .content .page-resetpassword form p{
    position: relative;
    display: block;
    max-width: 360px;
    margin: 15px auto;
    text-align: center;
}
.page .content .page-resetpassword form .btn{
    width: 100%;
}
.page .content .page-resetpassword form .err-tip{
    color: #F00;
}
.page .content .page-resetpassword form .success-tip{
    color: #00B424;
}
@media (max-width: 1366px){
    .page .content .page-resetpassword{
        margin: 20px auto 0;
    }
}
@media (max-width: 1024px){
    .page .content .page-resetpassword{
        min-height: 420px;
        margin: 15px auto 0;
        border-radius: 3px;
    }
    .page .content .page-resetpassword h1{
        font-size: 20px;
    }
    .page .content .page-resetpassword .steps{
        margin-bottom: 100px;
    }
    .page .content .page-resetpassword .steps li{
        height: 36px;
        line-height: 36px;
        font-size: 16px;
    }
    .page .content .page-resetpassword form{
        min-height: 300px;
        width: 300px;
    }
    .page .content .page-resetpassword form h3{
        height: 24px;
        margin: 15px auto;
        font-size: 16px;
        line-height: 24px;
    }
    .page .content .page-resetpassword form p{
        max-width: 300px;
        margin: 15px auto;
    }
}
@media (max-width: 768px){
    .page .content .page-resetpassword{
        min-height: 420px;
        margin: 10px auto 0;
        border-radius: 3px;
    }
    .page .content .page-resetpassword h1{
        font-size: 18px;
    }
    .page .content .page-resetpassword .steps{
        margin-bottom: 80px;
    }
    .page .content .page-resetpassword .steps li{
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }
    .page .content .page-resetpassword form{
        min-height: 300px;
        width: 300px;
    }
    .page .content .page-resetpassword form h3{
        margin: 10px auto;
        font-size: 15px;
    }
    .page .content .page-resetpassword form p{
        max-width: 300px;
        margin: 10px auto;
    }
}
@media (max-width: 480px){
    .page .content .page-resetpassword{
        min-height: 360px;
        margin: 10px auto 0;
        border-radius: 3px;
    }
    .page .content .page-resetpassword h1{
        font-size: 16px;
    }
    .page .content .page-resetpassword .steps{
        margin-bottom: 80px;
    }
    .page .content .page-resetpassword .steps li{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    .page .content .page-resetpassword .steps li b{
        display: none;
    }
    .page .content .page-resetpassword form{
        min-height: 260px;
        width: 260px;
    }
    .page .content .page-resetpassword form h3{
        margin: 5px auto;
        font-size: 14px;
    }
    .page .content .page-resetpassword form p{
        max-width: 260px;
        margin: 10px auto;
    }
}
