/**==================== 文章相关样式，对应于 singles 文件夹下的相关文件 ====================*/

/* 网站添加公众号涨粉功能样式代码 */
#wechat-official-captcha{
	clear:both;
	display: block;
	position: relative;
	width: 100%;
	height: 160px;
	margin: 15px auto;
	border: 1px dashed #24b4f0;
	padding: 0;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}
#wechat-official-captcha .main{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}
#wechat-official-captcha .qrcode{
	display: block;
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 0;
	width: 140px;
	height: 140px;
	margin: 0 10px;
	border: 0;
	padding: 0;
}
#wechat-official-captcha .qrcode img{
	width: 100%;
	height: 100%;
}
#wechat-official-captcha .text{
	display: block;
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 0;
	width: auto;
	height: auto;
	margin: 0 20px 0 160px;
}
#wechat-official-captcha .text .tips{
	display: block;
	width: 100%;
	height: 80px;
	margin: 0;
	border: 0;
	padding: 10px;
	text-indent: 0;
	font-size: 16px;
	line-height: 20px;
}
#wechat-official-captcha .text .tips p{
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
}
#wechat-official-captcha .text .tips p span{
	font-weight: bold;
	color: #f00;
}
#wechat-official-captcha .text .tips .prinmary{
	color: #d65900;
}
#wechat-official-captcha .text .tips .prinmary b{
	margin: 0 3px;
	font-weight: bold;
	color: #f00;
}
#wechat-official-captcha .ipt{
	display: flex;
	width: 100%;
	height: 30px;
	margin: 10px 0;
	border: 0;
	padding: 0;
}
#wechat-official-captcha input{
	margin: 0 5px;
	border: 1px solid #24b4f0;
	padding: 0;
}
#wechat-official-captcha input[type=text]{
	flex-grow: 1;
	padding: 5px 15px;
}
#wechat-official-captcha input[type=button]{
	flex-basis: 100px;
	color: #fff;
	background-color: #24b4f0;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 768px) {
	#wechat-official-captcha{
		height: 140px;
		margin: 10px auto;
	}
	#wechat-official-captcha .qrcode{
		width: 120px;
		height: 120px;
		margin: 0 10px;
	}
	#wechat-official-captcha .text{
		margin: 0 15px 0 140px;
	}
	#wechat-official-captcha .text .tips{
		height: 80px;
		padding: 5px;
		text-indent: 0;
		font-size: 14px;
		line-height: 18px;
	}
	#wechat-official-captcha .text .tips p{
		line-height: 1.2em;
	}
	#wechat-official-captcha .ipt{
		height: 30px;
		margin: 5px 0;
	}
}
@media (max-width: 480px) {
	#wechat-official-captcha{
		height: 160px;
		margin: 10px auto;
		padding: 0 0 40px;
	}
	#wechat-official-captcha .qrcode{
		width: 100px;
		height: 100px;
		margin: 0 10px;
	}
	#wechat-official-captcha .text{
		margin: 0 10px 0 120px;
	}
	#wechat-official-captcha .text .tips{
		height: 80px;
		padding: 0;
		text-indent: 0;
		overflow: hidden;
	}
	#wechat-official-captcha .text .tips p{
		line-height: 1.2em;
		font-size: 13px;
	}
	#wechat-official-captcha .ipt{
		position: absolute;
		bottom: -45px;
		left: 0;
		right: 0;
		width: auto;
		height: 30px;
		margin: 0 0 0 -110px;
	}
	#wechat-official-captcha input[type=button]{
		width: 80px;
		height: 100%;
		margin: 0;
		border: 0;
		padding: 0;
		line-height: 30px;
	}
}


/**==================== 首行缩进 ====================**/
.post-indent .content .main .article-content{
	text-indent: 2em;
}
/**====================默认文章页样式====================*/
.single{
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
}
.single ul{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.single ul li{
	float: none;
	list-style-position: inside;
	list-style-type: disc;
}
.single ol{
	margin: 0;
}
.single ol li{
	float: none;
	list-style-position: inside;
	list-style-type: decimal;
}
.single .content{
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	color: #555;
}
.single .content a{
	color: #24a0f0;
}
.single .content .main{
	position: relative;
	margin: 20px 380px 0 0;
	border: 0;
	padding: 30px;
	border-radius: 0;
	background: #fff;
}
.single .sidebar{
	float: right;
	display: block;
	position: relative;
	top: 0;
	right: 0;
	width: 360px;
	height: auto;
	margin: 0 0 0 -360px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
@media (max-width: 1366px) {
	/* 主体 */
	.single .content .main{
		margin: 20px 300px 0 0;
		padding: 25px;
	}
	/* 侧栏 */
	.single .sidebar{
		margin: 0 0 0 -300px;
		width: 280px;
	}
}
@media (max-width: 1024px) {
	/* 主体 */
	.single .content .main{
		margin: 15px 0 0;
		padding: 20px;
	}
	/* 侧栏 */
	.single .sidebar{
		clear: both;
		float: none;
		width: auto;
		margin: 15px 0 0;
	}
}
@media (max-width: 768px) {
	/* 主体 */
	.single .content .main{
		margin: 10px 0 0;
		border: 0;
		padding: 15px;
	}
	/* 侧栏 */
	.single .sidebar{
		margin: 10px 0 0;
	}
}
@media (max-width: 480px) {
	/* 主体 */
	.single .content .main{
		margin: 5px 0 0;
		border: 0;
		padding: 10px;
	}
	/* 侧栏 */
	.single .sidebar{
		margin: 5px 0 0;
	}
}

/* 头部样式 */
.single .article-header{
	display: block;
	margin: 0;
	border: 0;
	padding: 0 0 10px;
	border-bottom: 1px solid #eee;
	text-align: center;
}
.single .article-header .article-title{
	display: block;
	margin: 0 0 10px;
	border: 0;
	padding: 0;
	font-size: 24px;
	line-height: 1em;
	
}
.single .article-header .article-title{
	color: #ff003e;
}
.single .article-header .article-title a{
	text-decoration: none;
	color: #555;
}
.single .article-header .article-meta{
	font-size: 12px;
	color: #999;
}
.single .article-header .article-meta span{
	margin: 0 10px;
	font-size: 12px;
	color: #999;
}
.single .article-header .article-meta a{
	font-size: 12px;
	color: #999;
}
.single .article-header .article-meta i{
	font-size: 12px;
	color: #999;
}
.single .article-content{
	margin: 15px 0 0;
	font-size: 14px;
	line-height: 20px;
	word-wrap: break-word;
	overflow: hidden;
}
.article-content .wp-caption{
	max-width: 100%;
	margin: 0 0 20px;
	padding: 10px 10px 1px;
	background: #f6f6f6;
}
.single .page-content a{
	color: #24a0f0;
	text-decoration: none;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	.single .article-header{
		padding: 0 0 10px;
	}
	.single .article-header .article-title{
		margin: 0 0 5px;
		font-size: 20px;
	}
}
@media (max-width: 768px) {
	.single .article-header{
		padding: 0 0 5px;
	}
	.single .article-header .article-title{
		margin: 0 0 5px;
		font-size: 20px;
	}
}
@media (max-width: 480px) {
	.single .article-header{
		padding: 0 0 5px;
	}
	.single .article-header .article-title{
		margin: 0 0 5px;
		font-size: 16px;
	}
	.single .article-header .article-meta{
		font-size: 10px;
	}
	.single .article-header .article-meta span{
		margin: 0 3px;
		font-size: 10px;
	}
	.single .article-header .article-meta .cat{
		display: none;
	}
	.single .article-header .article-meta .time{
		display: none;
	}
	.single .article-header .article-meta a{
		font-size: 10px;
	}
	.single .article-header .article-meta i{
		font-size: 10px;
	}
}

/**====================文章页底部默认页码样式====================*/
.single .page-links{
	width: 100%;
	height: 30px;
	margin: 20px 0;
	text-align: center;
}
.single .page-links a{
	display: inline-block;
	color: #999;
}
.single .page-links span{
	display: inline-block;
	width: 28px;
	height: 28px;
	border: 0;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
	vertical-align: middle;
	background: #f3f3f3;
}
.single .page-links>span{
	border: 0;
	color: #fff;
	background: #24a0f0;
	background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
	background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
	background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
	-webkit-box-shadow: 0 3px 5px rgba(32,160,240,0.5);
	box-shadow: 0 3px 5px rgba(32,160,240,0.5);
}

/**====================文章页底部作者信息样式====================*/
.single .article-author{
	display: block;
	margin: 20px 0 0;
	height: 80px;
	padding: 0 15px;
	background: none;
	overflow: hidden;
}
.single .article-author .touxiang{
	float: left;
	display: block;
}
.single .article-author .avatar{
	float: left;
	width: 60px;
	height: 60px;
	margin: 10px 15px 10px 0;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 50%;
}
.single .article-author .desc{
	display: block;
	margin: 0 0 0 75px;
	border: 0;
	padding: 0;
	width: auto;
	height: 60px;
}
.single .article-author .title{
	display: block;
	margin: 10px 0 0;
	border: 0;
	padding: 0;
	height: 20px;
	width: auto;
}
.single .article-author .title a{
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	color: #333;
}
.single .article-author .title a:hover{
	color: #24a0f0;
}
.single .article-author .title span{
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.single .article-author .title h4{
	margin: 0;
	border: 0;
	padding: 0;
	height: 20px;
	font-size: 14px;
	font-weight: bolder;
	color: #666;
	background: none;
}
.single .article-author .content{
	display: block;
	height: 40px;
	width: auto;
}
.single .article-author .content p{
	margin: 6px 0 0;
	border: 0;
	padding: 0;
	height: 34px;
	font-size: 12px;
	color: #999;
	line-height: 17px;
	text-align: justify;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
@media (max-width: 1366px) {
	.single .article-author{
		margin: 20px 0 0;
		padding: 0 15px;
	}
}
@media (max-width: 1024px) {
	.single .article-author{
		margin: 15px 0 0;
	}
}
@media (max-width: 768px) {
	.single .article-author{
		margin: 10px 0 0;
		height: 60px;
		padding: 0 10px;
	}
	.single .article-author .avatar{
		width: 50px;
		height: 50px;
		margin: 5px 10px 5px 0;
	}
	.single .article-author .desc{
		margin: 0 0 0 60px;
		height: 50px;
	}
	.single .article-author .title{
		margin: 5px 0 0;
		height: 15px;
	}
	.single .article-author .title span{
		font-size: 10px;
	}
	.single .article-author .title h4{
		height: 15px;
		font-size: 12px;
	}
	.single .article-author .content{
		height: 35px;
	}
	.single .article-author .content p{
		margin: 3px 0 2px 0;
		height: 30px;
		font-size: 10px;
		line-height: 15px;
	}
}
@media (max-width: 480px) {
	.single .article-author{
		margin: 5px 0 0;
	}
}


/**====================文章页底部文字广告样式====================*/
.ads-text-post-footer{
	clear: both;
	display: block;
	margin: 20px 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.ads-text-post-footer b{
	font-weight: normal;
	color: #41C282
}
.ads-text-post-footer strong{
	font-weight: normal;
	color: #FD6A5E
}
.ads-text-post-footer a{
	text-decoration: none;
	border-bottom: 1px solid #eee;
}
.ads-text-post-footer a:hover{
	border-bottom-color: #1FAEFF;
}
@media (max-width: 1366px) {
	.single .ads-text-post-footer{
		margin: 20px 0 0;
		padding: 0;
	}
}
@media (max-width: 1024px) {
	.single .ads-text-post-footer{
		margin: 15px 0 0;
		padding: 10px 0;
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.single .ads-text-post-footer{
		margin: 10px 0 0;
		padding: 5px 0;
		font-size: 12px;
	}
}
@media (max-width: 480px) {
	.single .ads-text-post-footer{
		margin: 5px 0 0;
		font-size: 10px;
	}
}

/**====================文章页底部版权申明样式====================*/
.post-copyright{
	clear: both;
	display: block;
	position: relative;
	margin: 30px 0 0;
	border: 0;
	padding: 5px 30px;
	border-radius: 9px;
	font-size: 12px;
	color: #999;
	background: #f5f5f5;
}
.post-copyright .title{
	margin: -15px auto;
	text-align: center;
}
.post-copyright .title span{
	display: inline-block;
	width: auto;
	padding: 0 20px;
	border-radius: 5px;
	background: #eaeaea;
	font-size: 14px;
	line-height: 24px;	
}
.post-copyright .title span:hover{
	background: #001818;
	color: #fff;
}
.post-copyright .content{
	float: none;
	display: block;
	margin: 0 auto;
	border: 0;
	padding: 20px 0 5px;
}
.post-copyright .content a{
	font-size: 13px;
	line-height: 16px;
	color: #24A0F0;
}
.post-copyright .content p{
	margin: 5px 0;
	line-height: 16px;
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.post-copyright .content p span{
	color: #41C282;
	font-size: 14px;
}
@media(max-width: 1366px){
	.post-copyright{
		margin: 30px 0 0;
		padding: 5px 25px;
	}
}
@media(max-width: 1024px){
	.post-copyright{
		margin: 25px 0 0;
		padding: 5px 20px;
	}
}
@media(max-width: 768px){
	.post-copyright{
		margin: 25px 0 0;
		padding: 5px 15px;
		border-radius: 5px;
	}
	.post-copyright .title span{
		padding: 0 15px;
		border-radius: 3px;	
	}
	.post-copyright .title span:hover{
		background: #001818;
		color: #fff;
	}
	.post-copyright .content{
		float: none;
		padding: 20px 0 5px;
	}
	.post-copyright .content a{
		line-height: 14px;
	}
	.post-copyright .content p{
		line-height: 14px;
	}
}
@media(max-width: 480px){
	.post-copyright{
		margin: 20px 0 0;
		font-size: 10px;
		padding: 5px 10px;
		border-radius: 3px;
	}
	.post-copyright .title span{
		padding: 0 10px;
		border-radius: 3px;
		font-size: 12px;
		line-height: 20px;	
	}
	.post-copyright .content{
		padding: 15px 0 5px;
	}
	.post-copyright .content a{
		padding: 0 3px;
		line-height: 14px;
	}
	.post-copyright .content p{
		line-height: 14px;
		margin: 3px 0;
	}
	.post-copyright .content p span{
		font-size: 12px;
	}
}

/**====================文章页底部翻页导航样式====================*/
.article-nav{
	width: 100%;
	height: 42px;
	margin: 20px 0 0;
	font-size: 14px;
	color: #bbb;
	overflow: hidden;
}
.article-nav span{
	float: left;
	position: relative;
	width: 50%;
}
.article-nav-no-img span .text{
	margin: 0!important;
}
.article-nav span .text{
	margin: 0 0 0 70px;
	height: 40px;
	line-height: 20px;
}
.article-nav span.article-nav-next .text{
	margin: 0 70px 0 0;
}
.article-nav span img{
	float: left;
	width: 60px;
	height: 40px;
	margin: 0;
	border-radius: 9px;
	border: 1px solid #eee;
	overflow: hidden;
}
.article-nav span.article-nav-next img{
	float: right;
}
.article-nav span.article-nav-next{
	float: right;
	text-align: right;
}
.article-nav span.article-nav-next::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display :block;
	width: 1px;
	background: #eee;
}
.article-nav i{
	display: block;
	height: 20px;
	line-height: 20px;
}
.article-nav a{
	display: inline-block;
	width: 66%;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	color: #999;
	white-space: nowrap;
	word-wrap: break-word;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}
.article-nav span.article-nav-next a{
	margin: 0 0 0 10px;
}
@media(max-width: 1366px){
	.article-nav{
		margin: 20px 0 0;
	}
}
@media(max-width: 1024px){
	.article-nav{
		height: 37px;
		margin: 15px 0 0;
	}
	.article-nav span .text{
		margin: 0 0 0 50px;
		height: 35px;
		line-height:17px;
	}
	.article-nav span.article-nav-next .text{
		margin: 0 50px 0 0;
	}
	.article-nav span img{
		width: 51px;
		height: 35px;
		margin: 0 5px;
		border-radius: 5px;
		border: 1px solid #eee;
	}
	.article-nav i{
		height: 15px;
		line-height: 15px;
	}
	.article-nav a{
		height: 20px;
		line-height: 20px;
		margin: 0 5px 0 0;
	}
	.article-nav span.article-nav-next a{
		margin: 0 0 0 5px;
	}
}
@media(max-width: 768px){
	.article-nav{
		height: 32px;
		margin: 10px 0 0;
		font-size: 12px;
	}
	.article-nav span .text{
		margin: 0 0 0 40px;
		height: 30px;
		line-height:15px;
	}
	.article-nav span.article-nav-next .text{
		margin: 0 40px 0 0;
	}
	.article-nav span img{
		width: 45px;
		height: 30px;
		border-radius: 3px;
	}
	.article-nav i{
		height: 15px;
		line-height: 15px;
	}
	.article-nav a{
		height: 15px;
		line-height: 15px;
		margin: 0 5px 0 0;
	}
	.article-nav span.article-nav-next a{
		margin: 0 0 0 5px;
	}
}
@media(max-width: 480px){
	.article-nav{
		font-size: 10px;
	}
	.article-nav span .text{
		margin: 0 0 0 30px;
		line-height:13px;
	}
	.article-nav span.article-nav-next .text{
		margin: 0 30px 0 0;
	}
	.article-nav span img{
		width: 40px;
		border-radius: 3px;
	}
	.article-nav a{
		margin-right: 3px;
	}
	.article-nav span.article-nav-next a{
		margin-left: 3px;
	}
}

/**====================文章页底部相关文章样式====================*/
#relates-post-list{
	margin: 20px 0 0;
}
#relates-post-list .title{
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 40px;
}
#relates-post-list .title h3{
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	background: none;
}
#relates-post-list ul{
	list-style: none;
	margin: 15px 0 0;
	color: #aaa;
	overflow: hidden;
}
#relates-post-list li{
	display: inline-block;
	position: relative;
	width: 48%;
	height: 24px;
	margin: 0 1%;
	border: 0;
	padding: 0;
	line-height: 24px;
	overflow: hidden;
}
#relates-post-list li .caption{
	display: block;
	width: 100%;
	height: 24px;
	margin: 0;
	border: 0;
	padding: 0 5px;
	font-size: 15px;
}
#relates-post-list li .caption i{
	float: left;
	margin: 0 5px 0 0;
	font-size: 15px;
}
#relates-post-list li .caption a{
	display: inline-block;
	color: #555;
	height: 100%;
	width: 90%;
	font-size: 15px;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
#relates-post-list li .caption a:hover{
	font-size: 16px;
	color: #24a0f0;
}
/** 开启图文模式 */
.post-relates-thumb ul{
	margin-bottom: -15px !important;
}
.post-relates-thumb li{
	display: inline-block;
	width: 23% !important;
	height: auto!important;
	max-height: 150px;
	margin: 0 1% 15px 1% !important;
	border: 1px solid #eee !important;
	padding: 0;
	border-radius: 9px;
	overflow: hidden;
}
.post-relates-thumb li a{
	display: block;
	height: 120px;
}
.post-relates-thumb li a img{
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	overflow: hidden;
}
.post-relates-thumb li:hover .caption{
	display: block;
}
.post-relates-thumb li:hover .ico span{
	display: block;
	font-size: 14px;
	text-align: center;
}
.post-relates-thumb li .caption{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0;
	background: #33333380;
	overflow: hidden;
}
.post-relates-thumb li .caption i{
	display: none;
}
.post-relates-thumb li .caption a{
	width: 100% !important;
	font-size: 14px !important;
	color: #fff !important;
}
.post-relates-thumb li .ico{
	display: block;
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.post-relates-thumb li .ico i{
		font-size: 14px;
	}
.post-relates-thumb li .ico span{
	display: none;
	width: 100px;
	height: 24px;
	margin: 5px auto;
	padding: 0 9px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: left;
	color: #fff;
	background: #3cb4f099;
	overflow: hidden;
}
@media(max-width: 1366px){
	#relates-post-list{
		margin: 20px 0 0;
	}
}
@media(max-width: 1024px){
	#relates-post-list{
		margin: 15px 0 0;
	}
	#relates-post-list ul{
		margin: 10px 0 0;
	}
}
@media(max-width: 768px){
	#relates-post-list{
		margin: 10px 0 0;
	}
	#relates-post-list .title{
		height: 35px;
		line-height: 35px;
	}
	#relates-post-list .title h3{
		font-size: 16px;
	}
	#relates-post-list ul{
		margin: 5px 0 0;
	}
	#relates-post-list li{
		height: 20px;
		line-height: 20px;
	}
	#relates-post-list li .caption{
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
	#relates-post-list li .caption i{
		margin: 0 5px 0 0;
		font-size: 14px;
	}
	#relates-post-list li .caption a{
		font-size: 14px;
	}
	#relates-post-list li .caption a:hover{
		font-size: 15px;
	}
	/** 开启图文模式 */
	.post-relates-thumb ul{
		margin-bottom: -10px !important;
	}
	.post-relates-thumb li{
		max-height: 100px;
		width: 24%!important;
		margin: 0 0.5% 10px 0.5% !important;
		border-radius: 5px;
	}
	.post-relates-thumb li a{
		height: 120px;
	}
	.post-relates-thumb li:hover .ico span{
		font-size: 12px;
	}
	.post-relates-thumb li .caption a{
		font-size: 12px !important;
	}
	.post-relates-thumb li .ico{
		bottom: 15px;
	}
	.post-relates-thumb li .ico i{
		font-size: 12px;
	}
	.post-relates-thumb li .ico span{
		width: auto;
		max-width: 90% !important;
		height: 18px;
		margin: 3px auto;
		padding: 0 3px;
		font-size: 12px;
		line-height: 18px;
		border-radius: 3px;
	}
}
@media(max-width: 480px){
	#relates-post-list{
		margin: 5px 0 0;
	}
	#relates-post-list .title{
		height: 30px;
		line-height: 30px;
	}
	#relates-post-list .title h3{
		font-size: 16px;
	}
	#relates-post-list ul{
		margin: 5px 0 0;
	}
	#relates-post-list li{
		width: 98%;
		height: 20px;
		line-height: 20px;
	}
	#relates-post-list li .caption{
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
	#relates-post-list li .caption i{
		margin: 0 5px 0 0;
		font-size: 14px;
	}
	#relates-post-list li .caption a{
		width: 80%;
		font-size: 14px;
	}
	#relates-post-list li .caption a:hover{
		font-size: 15px;
	}
	/** 开启图文模式 */
	.post-relates-thumb ul{
		margin-bottom: -5px !important;
	}
	.post-relates-thumb li{
		max-height: 100px;
		width: 48%!important;
		margin: 0 1% 5px 1% !important;
		border-radius: 3px;
	}
	.post-relates-thumb li a{
		height: auto;
	}
	.post-relates-thumb li:hover .ico span{
		font-size: 12px;
	}
	.post-relates-thumb li .caption a{
		font-size: 12px !important;
	}
	.post-relates-thumb li .ico{
		bottom: 10px;
	}
	.post-relates-thumb li .ico i{
		font-size: 12px;
	}
	.post-relates-thumb li .ico span{
		width: 100px;
		max-width: 90% !important;
		height: 18px;
		margin: 3px auto;
		padding: 0 3px;
		font-size: 12px;
		line-height: 18px;
		border-radius: 3px;
	}
}


/**====================视频文章页面样式====================*/
.video-banner{
	display: block;
	position: relative;
	width: 100%;
	height: 420px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 100%;
	overflow: hidden;
}
.video-banner .bg-img{
	float: left;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background: #000;
}
.video-banner .cover{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	background: #000;
	opacity: 0.36;
}
.video-banner .banner-wraper{
	float: none;
	position: relative;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-banner .content{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto; 
	border: 0;
	padding: 0 0 0 300px;
	overflow: hidden;
}
.video-banner .content .img-box{
	float: left;
	display: block;
	position: absolute;
	width: 240px;
	height: 100%;
	margin: 0 30px 0 -270px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-banner .content .img-box .poster{
	float: left;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 240px;
	height: 360px;
	margin: auto;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 9px;
	overflow: hidden;
}
.video-banner .content .img-box .poster .stage-photo{
	width: 100%;
	height: 100%;
}
.video-banner .content .img-box .poster span{
	position: absolute;
	left: -18px;
	top: 66px;
	display: block;
	width: 120px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	background: #24a0f0;
	background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
	background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
	background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
}
.video-banner .content .text-box{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-banner .content .text-box .info{
	float: left;
	display: block;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	overflow: hidden;
}
.video-banner .content .text-box .info h1{
	height: 30px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}
.video-banner .content .info h1 a{
	color: #fff;
	text-decoration: none;
}
.video-banner .content .info ul{
	display: block;
	width: 240px;
	height: auto;
	margin: 10px 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-banner .content .info ul li{
	float: left;
	display: block;
	position: relative;
	width: 33.333%;
	height: 40px;
    margin: 5px 0;
    text-align: center;
	vertical-align: middle;
	list-style-type: none;
}
.video-banner .content .info ul li:nth-child(2){
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.video-banner .content .info ul li span{
	display: block;
	width: 100%;
	height: 20px;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 16px;
	color: #fb9311;
}
.video-banner .content .info ul li b{
	display: block;
	width: 100%;
	height: 20px;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 14px;
}
.video-banner .content .info p{
	display: block;
	width: 100%;
	height: 20px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	line-height: 20px;
	font-size: 15px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
}
.video-banner .content .info p label{
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0 10px 0 0;
	border: 0;
	padding: 0;
	font-size: 14px;
	text-align: justify;
	text-align-last: justify;
}
.video-banner .content .info p i:before{
	content: ":";
	margin-right: 10px;
}
.video-banner .content .info p.desc{
	display: block;
	width: 100%;
	height: auto;
	margin: 5px auto 0;
	max-height: 60px;
	line-height: 16px;
	font-size: 14px;
	color: #ccc;
	text-align: justify;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
	overflow: hidden;
}
.video-banner .content .rating{
	float: right;
	display: block;
	position: absolute;
	top: 60px;
	right: 30px;
	width: 100%;
	margin: auto;
	font-size: 48px;
	text-align: right;
	color: #ef9d02;
}
.video-banner .content .rating i{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	text-align: right;
	white-space: nowrap;
	color: #eee;
}
@media (max-width: 1366px) {
	.video-banner{
		height: 360px;
	}
	.video-banner .content{
		padding: 0 0 0 260px;
	}
	.video-banner .content .img-box{
		width: 200px;
		height: 100%;
		margin: 0 20px 0 -240px;
	}
	.video-banner .content .img-box .poster{
		width: 200px;
		height: 320px;
		border-radius: 9px;
	}
	.video-banner .content .img-box .poster span{
		left: -18px;
		top: 66px;
		display: block;
		width: 120px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
	.video-banner .content .text-box .info{
		width: 85%;
		padding: 10px 0;
		font-size: 14px;
		line-height: 20px;
	}
	.video-banner .content .text-box .info h1{
		height: 28px;
		font-size: 20px;
		line-height: 28px;
	}
	.video-banner .content .info ul{
		width: 240px;
		margin: 10px 0 5px;
	}
	.video-banner .content .info ul li{
		height: 35px;
		margin: 5px 0;
	}
	.video-banner .content .info ul li span{
		height: 18px;
		font-size: 15px;
	}
	.video-banner .content .info ul li b{
		height: 17px;
		font-size: 13px;
	}
	.video-banner .content .info p{
		height: 20px;
		line-height: 20px;
		font-size: 15px;
	}
	.video-banner .content .info p label{
		width: 40px;
		height: 20px;
		margin: 0 10px 0 0;
		font-size: 14px;
	}
	.video-banner .content .info p i:before{
		margin-right: 10px;
	}
	.video-banner .content .info p.desc{
		margin: 5px auto 0;
		max-height: 60px;
		line-height: 16px;
		font-size: 14px;
	}
	.video-banner .content .rating{
		float: right;
		display: block;
		position: absolute;
		top: 50px;
		right: 25px;
		width: 100%;
		margin: auto;
		font-size: 42px;
		text-align: right;
	}
	.video-banner .content .rating i{
		display: block;
		width: 100%;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		text-align: right;
		white-space: nowrap;
	}
}
@media (max-width: 1024px) {
	.video-banner{
		height: 300px;
	}
	.video-banner .content{
		padding: 0 0 0 210px;
	}
	.video-banner .content .img-box{
		width: 180px;
		height: 100%;
		margin: 0 15px 0 -195px;
	}
	.video-banner .content .img-box .poster{
		width: 180px;
		height: 270px;
		border-radius: 9px;
	}
	.video-banner .content .img-box .poster span{
		left: -18px;
		top: 66px;
		width: 120px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
	.video-banner .content .text-box .info{
		width: 95%;
		padding: 10px 0;
		font-size: 12px;
		line-height: 18px;
	}
	.video-banner .content .text-box .info h1{
		height: 24px;
		font-size: 18px;
		line-height: 24px;
	}
	.video-banner .content .info ul{
		width: 200px;
		margin: 5px 0;
	}
	.video-banner .content .info ul li{
		height: 35px;
		margin: 0;
	}
	.video-banner .content .info ul li span{
		height: 18px;
		font-size: 14px;
		line-height: 18px;
	}
	.video-banner .content .info ul li b{
		height: 17px;
		font-size: 12px;
		line-height: 17px;
	}
	.video-banner .content .info p{
		height: 18px;
		line-height: 18px;
		font-size: 14px;
	}
	.video-banner .content .info p label{
		width: 36px;
		height: 18px;
		margin: 0 5px 0 0;
		font-size: 13px;
	}
	.video-banner .content .info p i:before{
		margin-right: 5px;
	}
	.video-banner .content .info p.desc{
		margin: 5px auto 0;
		max-height: 60px;
		line-height: 14px;
		font-size: 12px;
	}
	.video-banner .content .rating{
		top: 40px;
		right: 20px;
		margin: auto;
		font-size: 30px;
	}
	.video-banner .content .rating i{
		height: 20px;
		line-height: 20px;
		font-size: 15px;
	}
}
@media (max-width: 787px) {
	.video-banner{
		height: 240px;
	}
	.video-banner .content{
		padding: 0 0 0 155px;
	}
	.video-banner .content .img-box{
		width: 135px;
		height: 100%;
		margin: 0 10px 0 -145px;
	}
	.video-banner .content .img-box .poster{
		width: 135px;
		height: 220px;
		border-radius: 5px;
	}
	.video-banner .content .img-box .poster span{
		position: absolute;
		left: -18px;
		top: 66px;
		display: block;
		width: 120px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
	.video-banner .content .text-box .info{
		padding: 10px 0;
		font-size: 12px;
		line-height: 18px;
	}
	.video-banner .content .text-box .info h1{
		height: 20px;
		font-size: 16px;
		line-height: 20px;
	}
	.video-banner .content .info ul{
		width: 200px;
		margin: 5px 0;
	}
	.video-banner .content .info ul li{
		height: 30px;
		margin: 0;
	}
	.video-banner .content .info ul li span{
		height: 16px;
		font-size: 12px;
		line-height: 18px;
	}
	.video-banner .content .info ul li b{
		height: 14px;
		font-size: 10px;
		line-height: 14px;
	}
	.video-banner .content .info p{
		height: 16px;
		line-height: 16px;
		font-size: 12px;
	}
	.video-banner .content .info p label{
		width: 30px;
		height: 16px;
		margin: 0 5px 0 0;
		font-size: 10px;
	}
	.video-banner .content .info p i:before{
		margin-right: 5px;
	}
	.video-banner .content .info p.desc{
		display: none;
	}
	.video-banner .content .rating{
		float: right;
		display: block;
		position: absolute;
		top: 30px;
		right: 20px;
		width: 100%;
		margin: auto;
		font-size: 30px;
		text-align: right;
	}
	.video-banner .content .rating i{
		display: block;
		width: 100%;
		height: 16px;
		line-height: 16px;
		font-size: 10px;
		text-align: right;
		white-space: nowrap;
	}
}
@media (max-width: 480px) {
	.video-banner{
		height: 160px;
	}
	.video-banner .content{
		padding: 0 0 0 110px;
	}
	.video-banner .content .img-box{
		width: 100px;
		margin: 0 5px 0 -105px;
	}
	.video-banner .content .img-box .poster{
		width: 100px;
		height: 150px;
		border-radius: 3px;
	}
	.video-banner .content .img-box .poster span{
		left: -12px;
		top: 45px;
		display: block;
		width: 80px;
		height: 16px;
		line-height: 16px;
		font-size: 10px;
	}
	.video-banner .content .text-box .info{
		width: 100%;
		padding: 5px;
		font-size: 10px;
		line-height: 16px;
	}
	.video-banner .content .text-box .info h1{
		height: 20px;
		margin: 0 0 5px;
		font-size: 15px;
		line-height: 20px;
	}
	.video-banner .content .info ul{
		display: none;
	}
	.video-banner .content .info p{
		height: 14px;
		line-height: 14px;
		font-size: 10px;
	}
	.video-banner .content .info p label{
		width: 30px;
		height: 14px;
		margin: 0 5px 0 0;
		font-size: 10px;
	}
	.video-banner .content .info p i:before{
		margin-right: 5px;
	}
	.video-banner .content .info p.desc{
		display: none;
	}
	.video-banner .content .rating{
		display: block;
		position: absolute;
		top: 15px;
		right: 10px;
		width: 100%;
		margin: 0 auto;
		font-size: 24px;
		text-align: right;
	}
	.video-banner .content .rating i{
		display: block;
		width: 100%;
		height: 16px;
		line-height: 16px;
		font-size: 10px;
		text-align: right;
		white-space: nowrap;
	}
}
/* ==================== 视频播放区域 ==================== */
.video-wraper{
	display: block;
	position: relative;
	margin: 20px auto 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-wraper .video-player{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 450px;
	margin: 0 auto;
	border: 0;
	padding: 15px;
	color: #fff;
	background: #0f0f1e;
	overflow: hidden;
}
.video-wraper .video-player .player-main{
	flex-grow: 1;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	object-fit:fill;
	background: #fff;
	overflow: hidden;
}
.video-wraper .video-player .player-main .video-js{
	width: 100%;
	height: 100%;
}
.video-wraper .video-player .player-main .vjs-poster{
	background-size: 100% 100%;
}
.video-wraper .video-player .player-sidebar{
	flex-basis: 360px;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 0 0 15px;
	border: 0;
	padding: 30px 0 0;
	overflow: hidden;
}
.video-wraper .video-player .player-sidebar .title{
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: 30px;
	margin: -30px auto 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	background: none;
}
.video-wraper .video-info{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 110px;
	margin: 0 auto;
	border: 0;
	padding: 15px;
	background: #fff;
	overflow: hidden;
}
.video-wraper .video-info .info-main{
	flex-grow: 1;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	object-fit:fill;
	overflow: hidden;
}
.video-wraper .video-info .info-main .title{
	display: block;
	position: relative;
	width: 100%;
	height: 26px;
	margin: 10px auto 0;
	border: 0;
	padding: 0;
	line-height: 26px;
	overflow: hidden;
}
.video-wraper .video-info .info-main .title h1{
	display: block;
	position: relative;
	width: auto;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 24px;
	color: #333;
	word-wrap: break-word;
	word-break: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.video-wraper .video-info .info-main .title .rating{
	float: right;
}
.video-wraper .video-info .info-main .title .rating b{
	color: #555;
}
.video-wraper .video-info .info-main .title .rating span{
	display: inline-block;
	width: 15px;
	height: 100%;
	margin: 0 -2px;
	border: 0;
	padding: 0;
	color: #fb9311;
}
.video-wraper .video-info .info-main .title .rating span i{
	font-size: 14px;	
}
.video-wraper .video-info .info-main .share-like-reward{
	width: 100%;
	height: 24px;
	margin: 15px auto 0;
}
.video-wraper .video-info .info-ads{
	flex-basis: 360px;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 0 0 15px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
@media (max-width: 1366px) {
	.video-wraper{
		margin: 20px auto 0;
	}
	.video-wraper .video-player{
		height: 400px;
	}
	.video-wraper .video-player .player-sidebar{
		flex-basis: 300px;
	}
	.video-wraper .video-info .info-ads{
		flex-basis: 300px;
	}
} 
@media (max-width: 1024px) {
	.video-wraper{
		margin: 15px auto 0;
	}
	.video-wraper .video-player{
		display: flex;
		flex-direction: column;
		height: auto;
		padding: 10px;
	}
	.video-wraper .video-player .player-main{
		flex-grow: 1;
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		border: 0;
		padding: 0;
		object-fit:fill;
		background: #fff;
		overflow: hidden;
	}
	.video-wraper .video-player .player-sidebar{
		flex-basis: auto;
		flex-grow: 1;
		margin: 0;
		padding: 0;
	}
	.video-wraper .video-player .player-sidebar .title{
		float: none;
		width: 100%;
		height: 30px;
		margin: 10px auto 5px;
		font-size: 16px;
		line-height: 30px;
	}
	.video-wraper .video-info{
		height: 90px;
		padding: 10px;
	}
	.video-wraper .video-info .info-main .title{
		height: 30px;
		margin: 5px auto 0;
		line-height: 30px;
	}
	.video-wraper .video-info .info-main .title h1{
		font-size: 20px;
	}
	.video-wraper .video-info .info-main .title .rating span i{
		font-size: 14px;	
	}
	.video-wraper .video-info .info-main .share-like-reward{
		height: 25px;
		margin: 10px auto 0;
	}
	.video-wraper .video-info .info-ads{
		display: none;
	}
}
@media (max-width: 787px) {
	.video-wraper{
		margin: 5px auto 0;
	}
	.video-wraper .video-player{
		padding: 5px;
	}
	.video-wraper .video-info{
		height: auto;
		padding: 5px;
	}
	.video-wraper .video-info .info-main .title h1{
		font-size: 18px;
	}
	.video-wraper .video-info .info-main .title .rating span i{
		font-size: 12px;	
	}
}
@media (max-width: 480px) {
	.video-wraper{
		margin: 10px auto 0;
	}
	.video-wraper .video-player{
		padding: 5px;
	}
	.video-wraper .video-info{
		padding: 5px;
	}
	.video-wraper .video-info .info-main .title h1{
		font-size: 16px;
	}
	.video-wraper .video-info .info-main .title .rating span i{
		font-size: 10px;
	}
	.video-wraper .video-info .info-main .title .rating b{
		display: none;
	}
	.video-wraper .video-info .info-main .share-like-reward{
		height: auto;
		margin: 10px auto 0;
	}
}

/* ==================== 分集视频 ==================== */
.single .video-lists-diversity{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
}
.video-lists-diversity::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.video-lists-diversity::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #000840;
	-webkit-box-shadow: inset 0 0 3px #9eb3c3;
}
.video-lists-diversity::-webkit-scrollbar-track{
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: inset 0 0 3px #eee;
}
.video-lists-diversity li.item{
	list-style: none;
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	margin: 5px auto;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 3px;
	background: #fff;
	overflow: hidden;
}
.video-lists-diversity .item a{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-lists-diversity .item .cover{
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 60px;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.06);
}
.video-lists-diversity .item .cover i{
	z-index: 999;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 90px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
	color: #eee;
	opacity: 0.36;
	filter: alpha(opacity=36);
}
.video-lists-diversity .item img{
	display: block;
	width: 90px;
	height: 60px;
	margin: 0;
	border: 0;
	padding: 0;
}
.video-lists-diversity .item h4{
	display: block;
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 100px;
	height: 50px;
	width: 170px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	font-weight: normal;
	color: #555;
	background: none;
	white-space: nowrap;
	word-wrap: break-word;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}
.video-lists-diversity .item h4 div{
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	color: #555;
}
.video-lists-diversity .item h4 div b{
	font-size: 13px;
	font-weight: bold;
}
.video-lists-diversity .item h4 div i{
	margin: 0 3px 0 0;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #da1102;
}
.video-lists-diversity .item h4 span{
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
	color: #777;
	word-break: break-word;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	.single .video-lists-diversity{
		display: block;
		width: 100%;
		height: 60px;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
	}
	.video-lists-diversity li.item{
		display: inline-block;
		width: 160px;
		height: 50px;
		margin: 0 10px 0 0;
	}
	.video-lists-diversity .item .cover{
		display: none;
	}
	.video-lists-diversity .item img{
		display: none;
	}
	.video-lists-diversity .item h4{
		left: 0;
		width: 100%;
		height: 50px;
		padding: 5px 10px;
	}
	.video-lists-diversity .item h4 div{
		height: 20px;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		text-align: left;
		color: #555;
	}
	.video-lists-diversity .item h4 div b{
		font-size: 12px;
	}
	.video-lists-diversity .item h4 div i{
		font-size: 12px;
	}
	.video-lists-diversity .item h4 span{
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 787px) {
	.single .video-lists-diversity{
		height: 50px;
	}
	.video-lists-diversity li.item{
		width: 120px;
		height: 40px;
		margin: 0 5px 0 0;
	}
	.video-lists-diversity .item h4{
		height: 40px;
		padding: 3px 5px;
	}
	.video-lists-diversity .item h4 div{
		height: 16px;
		font-size: 10px;
		font-weight: bold;
		line-height: 16px;
	}
	.video-lists-diversity .item h4 div b{
		font-size: 10px;
	}
	.video-lists-diversity .item h4 div i{
		font-size: 10px;
	}
	.video-lists-diversity .item h4 span{
		height: 18px;
		font-size: 12px;
		line-height: 18px;
	}
}
@media (max-width: 480px) {
	
}


/* ==================== 相关视频 ==================== */
.single .video-lists-relates{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: auto;
}
.video-lists-relates::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.video-lists-relates::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #000840;
	-webkit-box-shadow: inset 0 0 3px #9eb3c3;
}
.video-lists-relates::-webkit-scrollbar-track{
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: inset 0 0 3px #eee;
}
.video-lists-relates li.item{
	list-style: none;
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	margin: 5px auto;
	border: 1px solid #eee;
	padding: 0;
	border-radius: 3px;
	background: #fff;
	overflow: hidden;
}
.video-lists-relates .item a{
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.video-lists-relates .item .cover{
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 60px;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.06);
}
.video-lists-relates .item .cover i{
	z-index: 999;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 90px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	font-weight: bold;
	color: #eee;
	opacity: 0.36;
	filter: alpha(opacity=36);
}
.video-lists-relates .item img{
	display: block;
	width: 90px;
	height: 60px;
	margin: 0;
	border: 0;
	padding: 0;
}
.video-lists-relates .item h4{
	display: block;
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 100px;
	height: 50px;
	width: 170px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	font-weight: normal;
	color: #555;
	background: none;
	white-space: nowrap;
	word-wrap: break-word;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}
.video-lists-relates .item h4 div{
	height: 20px;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
	color: #555;
}
.video-lists-relates .item h4 div b{
	font-size: 13px;
	font-weight: normal;
}
.video-lists-relates .item h4 div i{
	margin: 0 3px 0 0;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}
.video-lists-relates .item h4 span{
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
	color: #777;
	word-break: break-word;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	.single .video-lists-relates{
		display: block;
		width: 100%;
		height: 60px;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
	}
	.video-lists-relates li.item{
		display: inline-block;
		width: 160px;
		height: 50px;
		margin: 0 10px 0 0;
	}
	.video-lists-relates .item .cover{
		display: none;
	}
	.video-lists-relates .item img{
		display: none;
	}
	.video-lists-relates .item h4{
		left: 0;
		width: 100%;
		height: 50px;
		padding: 5px 10px;
	}
	.video-lists-relates .item h4 div{
		height: 20px;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		text-align: left;
		color: #555;
	}
	.video-lists-relates .item h4 div b{
		font-size: 12px;
	}
	.video-lists-relates .item h4 div i{
		font-size: 12px;
	}
	.video-lists-relates .item h4 span{
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 787px) {
	.single .video-lists-relates{
		height: 50px;
	}
	.video-lists-relates li.item{
		width: 120px;
		height: 40px;
		margin: 0 5px 0 0;
	}
	.video-lists-relates .item h4{
		height: 40px;
		padding: 3px 5px;
	}
	.video-lists-relates .item h4 div{
		height: 16px;
		font-size: 10px;
		font-weight: bold;
		line-height: 16px;
	}
	.video-lists-relates .item h4 div b{
		font-size: 10px;
	}
	.video-lists-relates .item h4 div i{
		font-size: 10px;
	}
	.video-lists-relates .item h4 span{
		height: 18px;
		font-size: 12px;
		line-height: 18px;
	}
}
@media (max-width: 480px) {
	
}


/**==================== 产品文章页面样式 ====================*/
.single .product-info{
	display: block;
	position: relative;
	width: 100%;
	height: 330px;
	margin: 20px auto 0;
	border: 0;
	padding: 15px 15px 15px 395px;
	background: #fff;
	overflow: hidden;
}
.single .product-info .product-info-img{
	float: left;
	display: block;
	position: relative;
	width: 360px;
	height: 100%;
	margin: 0 0 0 -380px;
	border: 0;
	padding: 0;
}
.single .product-info .product-info-img .img-main{
	display: block;
	position: relative;
	width: 100%;
	height: 240px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.single .product-info .product-info-img .img-main img{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
}
.single .product-info .product-info-img .img-list{
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.single .product-info .product-info-img .img-list ul{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.single .product-info .product-info-img .img-list ul li{
	display: inline-block;
	position: relative;
	width: 19%;
	height: 50px;
	margin: 10px 1% 0 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.single .product-info .product-info-img .img-list ul li img{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
}
.single .product-info .product-info-content{
	float: right;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 0;
	padding: 0;
}
.single .product-info .product-info-content .title{
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10px auto 0;
	border: 0;
	padding: 0;
	line-height: 30px;
}
.single .product-info .product-info-content .title h1{
	display: block;
	margin: 0 auto;
	border: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
.single .product-info .product-info-content .meta{
	display: block;
	width: auto;
	height: 150px;
	margin: 20px auto 0;
	border: 0;
	padding: 10px 15px;
	font-weight: normal;
	background: #fafafa;
	border-radius: 5px;
}
.single .product-info .product-info-content .meta p{
	display: block;
	width: auto;
	height: 25px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	line-height: 25px;
}
.single .product-info .product-info-content .meta p label{
	display: inline-block;
	width: 80px;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 15px;
	text-align: justify;
	text-align-last: justify;
	color: #666;
}
.single .product-info .product-info-content .meta p span{
	display: inline-block;
	width: auto;
	height: 100%;
	margin: 0 10px;
	border: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	color: #888;
}
.single .product-info .product-info-content .meta p.msg{
	height: 72px;
	margin: 8px auto 0;
	line-height: 18px;
	font-size: 14px;
	color: #999;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
.single .product-info .product-info-content .meta p.bargain span{
	color: #ff2233;
}
.single .product-info .product-info-content .tags{
	display: block;
	height: 30px;
	margin: 0;
	border: 0;
	padding: 0;
	line-height: 30px;
}
.single .product-info .product-info-content .tags a{
	display: inline-block;
	height: 20px;
	margin: 0 5px 0 0;
	border: 0;
	padding: 0 5px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	color: #fff;
	background: #24b4ff;
}
.single .product-info .product-info-content .btns{
	display: block;
	height: 60px;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}
.single .product-info .product-info-content .btns button{
	display: block;
	width: auto;
	height: 30px;
	margin: 15px 20px 15px 0;
	border: 0;
	padding: 5px 15px;
	border-radius: 5px;
	color: #fff;
	background: #e300ff;
	box-shadow: 3px 3px 3px #f0b5f7;
}
.single .product-info .product-info-content .btns button:focus{
	border: 0;
}
