.user-center-on .user-signin{display: none;}
.user-center-on .logged-in .user-signin{display: block;}

.page .user-center{
    width: 100%;
    height: auto;
    margin : 20px 0 0;
    border: 0;
    padding: 0 0 0 150px;
}
.page .user-center:after{
    display: block;
    content: "";
    clear: both;
    border: red;
}
.user-center-off{
    height: 360px;
    line-height: 300px;
    padding: 30px;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    color: #777;
    background-color: #fff;
}
.page .user-center a{
    color: #333;
    text-decoration: none;
}
.page .user-center a:hover{
    color: #24a0f0;
}
/** 弹出信息效果样式 */
.page .user-center .user-loading{
    display: block;
    margin: 0;
    border: 0;
    padding: 200px 0;
    text-align: center;
    font-size: 16px;
    color: #999;
}
.page .user-center .user-loading i{
    font-size: 20px;
}
.page .user-center .user-tips{
    z-index: 999999;
    position: fixed;
    top: -32px;
    height: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    padding:0 15px;
    font-size: 16px;
    line-height: 30px;
    opacity: 0.85;
    filter:alpha(opacity=85);
    color: #fff;
    background: #FF5E52;
}

/** 用户中心内容区 */
.page .user-center .content{
    display: block;
    margin: 0;
    border: 0;
    padding: 15px;
    background: #fff;
    overflow: hidden;
}
.page .user-center .content #content-frame{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
/** 用户中心侧边栏 */
.page .user-center .sidebar{
    z-index: 0;
    float: left;
    display: block;
    width: 130px;
    height: auto;
    margin: 0 15px 0 -145px;
    padding: 15px;
    background: #fff;
}
.page .user-center .sidebar .user-title{
    margin: 0 0 15px;
    padding: 0;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    text-align: center;
}
.page .user-center .sidebar .user-title img{
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    width: 70px;
    height: 70px;
}
.page .user-center .sidebar .user-title h2{
    width: 100%;
    height: 20px;
    margin: 10px 0;
    border: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #00a0f0;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
}
.page .user-center .sidebar .user-menus{
    display: block;
    width: auto;
    height: auto;
    margin: 15px -15px 0;
    border: 0;
    padding: 0; 
    overflow: hidden;
}
.page .user-center .sidebar .user-menu{
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0; 
    list-style: none;
    overflow: hidden;
}
.page .user-center .sidebar .user-menu li{
    display: block;
    height: 30px;
    margin: 5px 0;
    border: 0;
    padding: 0 20px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
}
.page .user-center .sidebar .user-menu li.active{
    color: #24a0f0;
    background: #f5f5f5;
}
.page .user-center .sidebar .user-menu li.active a{
    color: #24a0f0;
}
.page .user-center .sidebar .user-menu li a{
    display: block;
    padding: 0;
    font-size: 15px;
    color: #999;
}
.page .user-center .sidebar .user-menu li a i{
    display: inline-block;
    width: 16px;
    margin: 0 5px 0 0;
    font-size: 15px;
    text-align: center;
}
.page .user-center .sidebar .user-menu li a span{
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 15px;
}
.page .user-center .sidebar .user-menu li a b{
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 15px;
}
@media (max-width: 1366px) {
    .page .user-center{
        margin: 20px 0 0;
    }
} 
@media (max-width: 1024px) {
    .page .user-center{
        margin: 15px 0 0;
        padding: 0 10px;
    }
    .page .user-center .content{
        display: block;
        margin: 15px 0;
        border: 0;
        padding: 10px;
    }
    .page .user-center .sidebar {
        float: none;
        width: 100%;
        height: 40px;
        margin: 0;
        border: 0;
        padding: 0;
        background: #fafafa;
    }
    .page .user-center .sidebar .user-title{
        display: none;
    }
    .page .user-center .sidebar .user-menus{
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;
    }
    .page .user-center .sidebar .user-menu{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .page .user-center .sidebar .user-menu li{
        display: inline-block;
        width: 100%;
        height: 40px;
        margin: 0;
        border: 0;
        padding: 0;
        text-align: center;
        line-height: 40px;
        list-style-type: none;
        overflow: hidden;
    }
    .page .user-center .sidebar .user-menu li a{
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a i{
        width: 14px;
        margin: 0 3px 0 0;
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a span{
        display: none;
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a b{
        display: inline-block;
        font-size: 14px;
    }
} 
@media (max-width: 768px) {
    .page .user-center{
        margin: 10px 0 0;
        padding: 0;
    }
    .page .user-center .content{
        margin: 10px 0;
        padding: 0;
    }
    .page .user-center .content #content-frame{
        padding: 10px 15px;
    }
    .page .user-center .sidebar {
        height: 36px;
    }
    .page .user-center .sidebar .user-menus{
        height: 36px;
    }
    .page .user-center .sidebar .user-menu li{
        height: 36px;
        line-height: 36px;
    }
    .page .user-center .sidebar .user-menu li a{
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a i{
        display: none;
        width: 14px;
        margin: 0 3px 0 0;
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a span{
        display: none;
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a b{
        display: block;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .page .user-center{
        margin: 5px 0 0;
    }
    .page .user-center .content{
        margin: 5px 0;
    }
    .page .user-center .sidebar {
        height: 36px;
    }
    .page .user-center .sidebar .user-menus{
        height: 36px;
    }
    .page .user-center .sidebar .user-menu li{
        height: 36px;
        line-height: 36px;
    }
    .page .user-center .sidebar .user-menu li a{
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a i{
        display: block;
        width: 100%;
        margin: 0;
        font-size: 16px;
    }
    .page .user-center .sidebar .user-menu li a span{
        display: none;
        font-size: 14px;
    }
    .page .user-center .sidebar .user-menu li a b{
        display: none;
        font-size: 14px;
    }
} 



/** 我要投稿 */
.page .user-center .user-main-publish{
    display: block;
    width: 100%;
    height: auto;
    margin: 15px 0;
    border: 0;
    padding: 0;
}
.page .user-center .user-main-publish .user-publish-form{
    margin: 0;
    border: 0;
    padding: 0;
}
.page .user-center .user-main-publish .user-publish-meta{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    line-height: 28px;
    color: #999;
}
.page .user-center .user-main-publish .user-publish-meta li{
    margin: 10px 0;
    padding: 0 0 0 100px;
    border: 0;
    list-style-type: none;
}
.page .user-center .user-main-publish .user-publish-meta li label{
    float: left;
    margin-left: -100px;
    width: 80px;
    text-align: right;
    line-height: 28px;
    color: #666;
}
.page .user-center .user-main-publish .user-publish-meta li .form-control{
    height: 28px;
    width: 100%;
    border-radius: 5px;
}
.page .user-center .user-main-publish .user-publish-meta li .wp-editor-wrap{
    display: inline-block;
    width: 100%;
}
.page .user-center .user-main-publish .user-publish-meta li .mce-top-part{
    height: auto;
    overflow: hidden;
}


.page .user-center .content .user-main{
    position: relative;
    min-height: 100px;
}

/** 我的文章—菜单样式 */
.page .user-center .user-postsmenu{
    height: 36px;
    margin: -15px -15px 0;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    background: #fafafa;
    overflow: hidden;
}
.page .user-center .user-postsmenu a{
    display: block;
    float: left;
    height: 100%;
    padding:0 15px;
    line-height: 36px;
    border-right: 1px solid #e6e6e6;
    color: #999;
}
.page .user-center .user-postsmenu a small{
    font-size: 12px;
    margin-left: 3px;
    color: #bbb;
}
.page .user-center .user-postsmenu a:hover{
    opacity: 0.8;
}
.page .user-center .user-postsmenu a:hover small{
    opacity: 0.8;
}
.page .user-center .user-postsmenu .active{
    color: #fff;
    background: #6ac5f3;
}
.page .user-center .user-postsmenu .active small{
    color: #fff;
}

/** 我的文章-列表样式 */
.page .user-center .user-posts{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}
.page .user-center .user-posts li{
    display: block;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    list-style-type: none;
    overflow: hidden
}
.page .user-center .user-posts li .thumb{
    float: left;
    width: 150px;
    height: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 5px;
}
.page .user-center .user-posts li div{
    display: block;
    position: relative;
    width: auto;
    height: 100px;
    margin: 0 0 0 160px;
    border: 0;
    padding: 0 5px;
    overflow: hidden;
}
.page .user-center .user-posts li div h2{
    display: inline-block;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: none;
    overflow: hidden;
}
.page .user-center .user-posts li div h2 a{
    color: #555;
}
.page .user-center .user-posts li div .desc{
    height: 54px;
    overflow: hidden;
    margin: 6px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    text-align: justify;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.page .user-center .user-posts li div .muted{
    display: block;
    width: 100%;
    height: 20px;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

/** 我的文章-页码导航 */
.page .user-center .user-pagination{
    display: block;
    width: 100%;
    height: auto;
    margin: 15px 0 0;
    border: 0;
    padding: 0;
}
.page .user-center .user-pagination ul{
    zoom: 1;
    display: block;
    margin: auto;
    border: 0;
    padding: 0;
    text-align: center;
}
.page .user-center .user-pagination ul > li{
    display: inline-block;
    height: 24px;
    width: auto;
    margin: 0 3px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 3px;
    color: #999;
    background: #eee;
    overflow: hidden;
}
.page .user-center .user-pagination ul > li > a{
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 5px 10px;
    color: #999;
}
.page .user-center .user-pagination ul > li > span{
    display: inline;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 5px 10px;
    color: #999;
}
.page .user-center .user-pagination ul .active span{
    color: #fff;
    background: #68ccff;
}

/** 我的评论 */
.page .user-center .user-comments{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
}
.page .user-center .user-comments time{
    float: left;
    margin: 0 0 0 -140px;
    border: 0;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}
.page .user-center .user-comments li{
    display: block;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0 10px 140px;
    list-style-type: none;
    overflow: hidden;
}
.page .user-center .user-comments .desc{
    display: block;
    margin: 0 0 5px;
    border: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
.page .user-center .user-comments p{
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    color: #999;
    text-align: justify;
}
.page .user-center .user-comments p a{
    font-size: 12px;
    color: #888;
}

/** 修改资料 */
.page .user-center .user-meta{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 60px 0;
    padding: 0;
    border: 0;
}
.page .user-center .user-meta li{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 10px 0;
    border: 0;
    padding: 0 0 0 100px;
    list-style-type: none;
    overflow: hidden;
}
.page .user-center .user-meta li label{
    float: left;
    display: inline-block;
    width: 80px;
    margin: 0 0 0 -100px;
    padding: 0;
    font-size: 15px;
    text-align: right;
    line-height: 28px;
    color: #555;
}
.page .user-center .user-meta li input{
    display: inline-block;
    float: left;
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 3px 15px;
    font-size: 15px;
    border: 1px solid #24a0f0;
    border-radius: 3px;
    background: #fff;
}
.page .user-center .user-meta li input[type=button]{
    height: auto;
    width: auto;
    border-radius: 5px;
    background: #24a0f0;
    background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
    background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
    background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(32,160,240,0.5);
    box-shadow: 0 3px 5px rgba(32,160,240,0.5);
}
.page .user-center .user-meta li .btn{
    margin: 30px 0 10px;
    min-width: 100px;
}
.page .user-center .user-meta  li.user-avatar{
    float: right;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 30px;
    padding: 0;
    border: 0;
    text-align: center;
}
.page .user-center .user-meta  li.user-avatar .user-avatar-img{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #24a0f0;
    border-radius: 3px;
    overflow: hidden;
}
.page .user-center .user-meta  li.user-avatar .user-avatar-img img{
    width: 100%;
    height: 100%;
}
.page .user-center .user-meta  li.user-avatar .local-avatar-upload{
    display: none;
}
@media (max-width: 1366px) {
    
}
@media (max-width: 1024px) {
    .page .user-center .user-postsmenu {
        margin: -10px -10px 0;
    }
}
@media (max-width: 768px) {
    /** 我要投稿 */
    .page .user-center .user-main-publish{
        margin: 15px 0;
    }
    .page .user-center .user-main-publish .user-publish-meta{
        line-height: 28px;
    }
    .page .user-center .user-main-publish .user-publish-meta li{
        margin: 0;
        border: 0;
        padding: 0;
    }
    .page .user-center .user-main-publish .user-publish-meta li label{
        float: none;
        display: block;
        margin: 5px 0;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }
    .page .user-center .user-main-publish .user-publish-meta li input{
        display: block;
        margin: 0 auto;
    }
    .page .user-center .user-main-publish .user-publish-meta li .form-control{
        height: 28px;
        width: 100%;
        border-radius: 3px;
    }
    .page .user-center .user-main-publish .user-publish-meta li .wp-editor-wrap{
        display: inline-block;
        width: 100%;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part{
        height: auto;
        overflow: hidden;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part .mce-container-body .mce-stack-layout{
        padding: 0;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part .mce-toolbar .mce-btn button{
        padding: 3px;
    }
    
    /** 我的文章—菜单样式 */
    .page .user-center .user-postsmenu{
        height: 30px;
        margin: -10px -15px 0;
        font-size: 14px;
    }
    .page .user-center .user-postsmenu a{
        padding:0 10px;
        line-height: 30px;
    }
    .page .user-center .user-postsmenu a small{
        font-size: 10px;
        margin: 0 0 0 1px;
    }
    
    /** 我的文章-列表样式 */
    .page .user-center .user-posts li{
        border-bottom: 1px solid #f2f2f2;
        padding: 10px 0;
    }
    .page .user-center .user-posts li .thumb{
        width: 120px;
        height: 80px;
        border-radius: 3px;
    }
    .page .user-center .user-posts li div{
        height: 80px;
        margin: 0 0 0 130px;
        padding: 5px;
    }
    .page .user-center .user-posts li div h2{
        height: 20px;
        line-height: 20px;
        font-size: 16px;
    }
    .page .user-center .user-posts li div .desc{
        height: 32px;
        overflow: hidden;
        margin: 3px 0 0;
        font-size: 10px;
        line-height: 16px;
        -webkit-line-clamp: 2;
    }
    .page .user-center .user-posts li div .muted{
        height: 15px;
        font-size: 10px;
        line-height: 15px;
    }
    
    /** 我的文章-页码导航 */
    .page .user-center .user-pagination{
        margin: 10px 0 0;
    }
    .page .user-center .user-pagination ul > li{
        height: 20px;
        margin: 0 3px;
        font-size: 10px;
        line-height: 20px;
        border-radius: 3px;
    }
    .page .user-center .user-pagination ul > li > a{
        padding: 3px 7px;
    }
    .page .user-center .user-pagination ul > li > span{
        padding: 3px 7px;
    }
    
    /** 我的评论 */
    .page .user-center .user-comments time{
        float: none;
        width: 100%;
        height: 30px;
        margin: 0;
        line-height: 30px;
        font-size: 12px;
    }
    .page .user-center .user-comments li{
        padding: 5px;
    }
    .page .user-center .user-comments .desc{
        margin: 0 0 5px;
        font-size: 12px;
        line-height: 16px;
    }
    .page .user-center .user-comments p{
        line-height: 16px;
        font-size: 12px;
    }
    .page .user-center .user-comments p a{
        font-size: 10px;
        color: #888;
    }
    
    /** 修改资料 */
    .page .user-center .user-meta{
        margin: 20px;
    }
    .page .user-center .user-meta li{
        margin: 5px 0;
        padding: 0 0 0 90px;
    }
    .page .user-center .user-meta li label{
        width: 80px;
        margin: 0 0 0 -90px;
        font-size: 14px;
        line-height: 24px;
    }
    .page .user-center .user-meta li input{
        height: 24px;
        padding: 1px 5px;
        font-size: 14px;
    }
    .page .user-center .user-meta li .btn{
        margin: 10px 0 0;
        min-width: 100px;
    }
    .page .user-center .user-meta  li.user-avatar{
        width: 100px;
        height: 100px;
        margin: 0 0 15px 15px;
    }
}
@media (max-width: 480px) {
    /** 我要投稿 */
    .page .user-center .user-main-publish{
        margin: 15px 0;
    }
    .page .user-center .user-main-publish .user-publish-meta{
        line-height: 28px;
    }
    .page .user-center .user-main-publish .user-publish-meta li{
        margin: 0;
        border: 0;
        padding: 0;
    }
    .page .user-center .user-main-publish .user-publish-meta li label{
        float: none;
        display: block;
        margin: 5px 0;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }
    .page .user-center .user-main-publish .user-publish-meta li input{
        display: block;
        margin: 0 auto;
    }
    .page .user-center .user-main-publish .user-publish-meta li .form-control{
        height: 28px;
        width: 100%;
        border-radius: 3px;
    }
    .page .user-center .user-main-publish .user-publish-meta li .wp-editor-wrap{
        display: inline-block;
        width: 100%;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part{
        height: auto;
        overflow: hidden;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part .mce-container-body .mce-stack-layout{
        padding: 0;
    }
    .page .user-center .user-main-publish .user-publish-meta li .mce-top-part .mce-toolbar .mce-btn button{
        padding: 3px;
    }
    /** 我的文章—菜单样式 */
    .page .user-center .user-postsmenu{
        height: 30px;
        margin: -10px -15px 0;
        font-size: 14px;
    }
    .page .user-center .user-postsmenu a{
        padding:0 10px;
        line-height: 30px;
    }
    
    /** 我的文章-列表样式 */
    .page .user-center .user-posts li{
        border-bottom: 1px solid #f2f2f2;
        padding: 5px 0;
    }
    .page .user-center .user-posts li .thumb{
        width: 90px;
        height: 60px;
        border-radius: 5px;
    }
    .page .user-center .user-posts li div{
        height: 60px;
        margin: 0 0 0 100px;
        padding: 0 5px;
    }
    .page .user-center .user-posts li div h2{
        height: 18px;
        line-height: 18px;
        font-size: 15px;
    }
    .page .user-center .user-posts li div .desc{
        display: none;
    }
    .page .user-center .user-posts li div .muted{
        position: absolute;
        bottom: 0;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    
    /** 我的文章-页码导航 */
    .page .user-center .user-pagination{
        margin: 10px 0 0;
    }
    .page .user-center .user-pagination ul > li{
        height: 20px;
        margin: 0 3px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 3px;
    }
    .page .user-center .user-pagination ul > li > a{
        padding: 5px 10px;
    }
    .page .user-center .user-pagination ul > li > span{
        padding: 5px 10px;
    }
    
    /** 我的评论 */
    .page .user-center .user-comments time{
        float: none;
        width: 100%;
        height: 24px;
        margin: 0;
        line-height: 24px;
        font-size: 10px;
        color: #24a0f0;
    }
    .page .user-center .user-comments li{
        padding: 3px;
    }
    .page .user-center .user-comments .desc{
        margin: 0;
        font-size: 10px;
        line-height: 16px;
    }
    .page .user-center .user-comments p{
        line-height: 16px;
        font-size: 10px;
    }
    .page .user-center .user-comments p a{
        height: 24px;
        line-height: 24px;
        font-size: 10px;
        color: #888;
    }
    
    /** 修改资料 */
    .page .user-center .user-meta{
        margin: 5px 5px 0 -5px;
    }
    .page .user-center .user-meta li{
        margin: 5px 0;
        padding: 0 0 0 60px;
    }
    .page .user-center .user-meta li label{
        width: 55px;
        margin: 0 0 0 -60px;
        font-size: 12px;
        line-height: 20px;
    }
    .page .user-center .user-meta li label b{
        display: none;
    }
    .page .user-center .user-meta li input{
        height: 20px;
        padding: 3px 9px;
        font-size: 12px;
    }
    .page .user-center .user-meta li .btn{
        margin: 5px 0 0;
        min-width: 80px;
    }
    .page .user-center .user-meta  li.user-avatar{
        width: 60px;
        height: 60px;
        margin: 0 0 10px 10px;
    }
}



/** DUX 主题用户中心集成 Erphpdown */
.user-main-property{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.user-main-property .wrap{
    display: block;
    width: 100%;
    height: auto;
    margin: 15px 0 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.user-main-property .wrap h2{
    margin: 10px;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    border-left: 5px solid #24a0f0;
}
.user-main-property .wrap p{
    margin: 5px 10px;
    border: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
}

/** 表单 form-table */
.user-main-property .wrap .form-table{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}
.user-main-property .wrap .form-table tr{
    display: block;
    width: auto;
    height: auto;
    margin: 3px 0;
    border: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
}
.user-main-property .wrap .form-table tr td{
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 30px;
    font-size: 15px;
    background: none;
}
.user-main-property .wrap .form-table tr:nth-child(odd){
    background: none; 
}
.user-main-property .wrap .form-table tr:nth-child(even){
    background: none;
}
.user-main-property .wrap .form-table tr td:first-child{
    width: 160px;
    padding: 0 10px 0 15px;
}
.user-main-property .wrap .form-table td input{
    max-width: 240px;
    padding: 3px 9px;
    border: 1px solid #24a0f0;
    border-radius: 5px;
    line-height: 20px;
    font-size: 14px;
    text-align: right;
}
.user-main-property .wrap .form-table td input[type=radio]{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 3px 0 0;
    border: 0;
    padding: 0;
    line-height: 1; 
    vertical-align: middle;
    font-size: 16px;
}
.user-main-property .wrap .form-table td input[type=submit] {
    margin: 0 auto;
    padding: 3px 15px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #24a0f0;
    background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
    background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
    background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
    -webkit-box-shadow: 1px 1px 3px rgba(32,160,240,0.5);
    box-shadow: 1px 1px 3px rgba(32,160,240,0.5);
}
.user-main-property .wrap .form-table td input[type=submit]:hover {
    background: #24b4ff;
    background: -webkit-gradient(linear,left top,right top,from(#24b4ff),to(#24a0f0)) no-repeat;
    background: -webkit-linear-gradient(left,#24b4ff,#24a0f0) no-repeat;
    background: linear-gradient(90deg,#24b4ff,#24a0f0) no-repeat;
    -webkit-box-shadow: 2px 1px 3px rgba(32,160,240,0.5);
    box-shadow: 2px 1px 3px rgba(32,160,240,0.5);
}
/** 表单 widefat */
.user-main-property .wrap .widefat{
    width: 100%;
    margin: 15px 0 0;
    border: 0;
    border-collapse: collapse;
}
.user-main-property .wrap .widefat th{
    margin: 0;
    border: 0;
    padding: 3px 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #24a0f0;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
    color: #fff;
    background: #24a0f0; 
}
.user-main-property .wrap .widefat th:last-child{
    border-right:1px solid #24a0f0;
}
.user-main-property .wrap .widefat td{
    padding: 3px 5px;
    border: 1px solid #24a0f0;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.user-main-property .wrap .widefat tr{
    border: 1px solid #24a0f0;
}
.user-main-property .wrap .widefat tr:nth-child(odd){
    background: #fff; 
}
.user-main-property .wrap .widefat tr:nth-child(even){
    background: #fafafa;
}

.user-main{
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.user-main table{
    border: 0!important;
}
.user-main table td{
    margin: 0;
    border: 0!important;
    padding: 0;
    text-align: left;
    background: none;
}
.user-main .wrap{
    margin: 15px 0 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.user-main .wrap h2{
    margin: 10px;
    border-left: 5px solid #24a0f0;
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}
.user-main .wrap p{
    margin: 5px 10px;
    padding: 0;
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
}
.user-main .wrap p strong{
    margin: 0 3px;
    border: 0;
    padding: 0;
    font-weight: bold;
    color: #f00;
}
.user-main .wrap p textarea{
    display: block;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #24a0f0;
    padding: 5px 9px;
    border-radius: 5px;
    font-size: 15px;
    overflow: hidden;
}
/** 表单 form-table */
.user-main .wrap .form-table{
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}
.user-main .wrap .form-table tr{
    display: block;
    margin: 3px 0;
    font-size: 14px;
    line-height: 24px;
}
.user-main .wrap .form-table tr td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    background: none;
}
.user-main .wrap .form-table tr:nth-child(odd){
    background: none; 
}
.user-main .wrap .form-table tr:nth-child(even){
    background: none;
}
.user-main .wrap .form-table td:first-child{
    width: 180px;
    padding: 0 10px 0 20px;
    text-align: left;
}
.user-main .wrap .form-table td input{
    max-width: 240px;
    padding: 0 10px;
    border: 1px solid #24a0f0;
    border-radius: 5px;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
}
.user-main .wrap .form-table td input[type=radio]{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    line-height: 1; 
    vertical-align: text-top;
    font-size: 18px;
}
.user-main .wrap form input[type=submit] {
    margin: 10px auto 0;
    padding: 3px 15px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #24a0f0;
    background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
    background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
    background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
    -webkit-box-shadow: 0 1px 3px rgba(32,160,240,0.5);
    box-shadow: 0 1px 3px rgba(32,160,240,0.5);
}
.user-main .wrap form input[type=submit]:hover {
    background: #24b4ff;
    background: -webkit-gradient(linear,left top,right top,from(#24b4ff),to(#24a0f0)) no-repeat;
    background: -webkit-linear-gradient(left,#24b4ff,#24a0f0) no-repeat;
    background: linear-gradient(90deg,#24b4ff,#24a0f0) no-repeat;
    -webkit-box-shadow: 2px 1px 3px rgba(32,160,240,0.5);
    box-shadow: 2px 1px 3px rgba(32,160,240,0.5);
}
/** 表单 widefat */
.user-main .wrap .widefat{
    width: 100%;
    margin: 15px 0 0;
    border: 0;
    border-collapse: collapse;
}
.user-main .wrap .widefat th{
    margin: 0;
    padding:3px 5px;
    border: 0;
    border-right:1px solid #fff;
    border-bottom:1px solid #24a0f0;
    border-collapse: collapse;
    font-size: 14px;
    line-height:20px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
    color: #fff;
    background:#24a0f0; 
}
.user-main .wrap .widefat th:last-child{
    border-right:1px solid #24a0f0;
}
.user-main .wrap .widefat td{
    padding: 3px 5px;
    border:1px solid #24a0f0;
    border-collapse: collapse;
    font-size:12px;
    line-height:16px;
    font-weight:normal;
    text-align:left;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.user-main .wrap .widefat tr{
    border: 1px solid #24a0f0;
}
.user-main>.wrap>.widefat tr:nth-child(odd){
    background: #fff; 
}
.user-main>.wrap>.widefat tr:nth-child(even){
    background: #fafafa;
}
@media (max-width: 1366px) {
    
}
@media (max-width: 1024px) {
    
}
@media (max-width: 768px) {
    .user-main-property .wrap h2{
        margin: 5px;
        padding: 3px 0 3px 5px;
        font-size: 14px;
        line-height: 18px;
        border-left: 3px solid #24a0f0;
    }
    .user-main-property .wrap p{
        margin: 5px;
        padding: 0;
        padding-left: 5px;
        font-size: 14px;
        line-height: 20px;
    }
    .user-main-property .wrap .form-table tr td:first-child {
        width: 100px;
        padding: 0 10px 0 15px;
        font-size: 12px;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: nowrap;
    }
    .user-main-property .wrap .form-table tr td{
        font-size: 12px;
        line-height: 24px;
    }
    .user-main-property .wrap .form-table td input{
        max-width: 120px;
        padding: 1px 5px;
        border: 1px solid #24a0f0;
        border-radius: 5px;
        line-height: 18px;
        font-size: 14px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
    .user-main-property .wrap .form-table td input[type=radio] {
        font-size: 14px;
    }
    .user-main-property .wrap .widefat{
        display: block;
        max-width: 100%;
    }
    .user-main-property .wrap .widefat thead{
        float: left;
        display: block;
        width: 20%!important; 
        margin: 0;
        border: 0;
        padding: 0;
    }
    .user-main-property .wrap .widefat tbody{
        float: left;
        display: block;
        width: 80% !important;
        margin: 0;
        border: 0;
        padding: 0;
        overflow-x: auto;
    }
    .user-main-property .wrap .widefat tbody::-webkit-scrollbar{
        height: 5px;
    }
    .user-main-property .wrap .widefat tbody::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
        background: rgba(0,0,0,0.36);
    }
    .user-main-property .wrap .widefat tbody::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
    }
    .user-main-property .wrap .widefat tr{
        display: table-cell;
        width: 100% !important;
        margin: 0;
        border: 1px solid #24a0f0;
        padding: 0;
    }
    .user-main-property .wrap .widefat th{
        display: inline-block;
        width: 100% !important;
        height: 24px;
        margin: 0;
        padding: 3px 5px;
        border: 0;
        border-bottom: 1px solid #fff;
        font-size: 12px;
        text-align: justify;
        text-align-last: justify;
    }
    .user-main-property .wrap .widefat th:last-child{
        border: 0;
    }
    .user-main-property .wrap .widefat td{
        display: block;
        max-width: 100px;
        width: 100% !important;
        height: 24px;
        margin: 0;
        padding: 3px 5px;
        border: 0;
        border-bottom: 1px solid #eee;
    }
    
    .user-main .wrap h2{
        margin: 5px;
        padding: 3px 0 3px 5px;
        font-size: 14px;
        line-height: 20px;
        border-left: 3px solid #24a0f0;
    }
    .user-main .wrap p{
        margin: 5px;
        padding: 0;
        padding-left: 5px;
        font-size: 14px;
        line-height: 20px;
    }
    .user-main .wrap .form-table tr td{
        font-size: 12px;
    }
    .user-main .wrap .form-table td input{
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
    .user-main .wrap .form-table td:first-child {
        width: 120px;
        padding: 0 5px 0 10px;
        text-align: left;
    }
    .user-main .wrap .widefat{
        display: block;
        max-width: 100%;
    }
    .user-main .wrap .widefat thead{
        float: left;
        display: block;
        width: 20%!important; 
        margin: 0;
        border: 0;
        padding: 0;
    }
    .user-main .wrap .widefat tbody{
        float: left;
        display: block;
        width: 80% !important;
        margin: 0;
        border: 0;
        padding: 0;
        overflow-x: auto;
    }
    .user-main .wrap .widefat tbody::-webkit-scrollbar{
        height: 5px;
    }
    .user-main .wrap .widefat tbody::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
        background: rgba(0,0,0,0.36);
    }
    .user-main .wrap .widefat tbody::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
    }
    .user-main .wrap .widefat tr{
        display: table-cell;
        width: 100% !important;
        margin: 0;
        border: 1px solid #24a0f0;
        padding: 0;
    }
    .user-main .wrap .widefat th{
        display: inline-block;
        width: 100% !important;
        height: 24px;
        margin: 0;
        padding: 3px 5px;
        border: 0;
        border-bottom: 1px solid #fff;
        font-size: 12px;
        text-align: justify;
        text-align-last: justify;
    }
    .user-main .wrap .widefat th:last-child{
        border: 0;
    }
    .user-main .wrap .widefat td{
        display: block;
        max-width: 100px;
        width: 100% !important;
        height: 24px;
        margin: 0;
        padding: 3px 5px;
        border: 0;
        border-bottom: 1px solid #eee;
    }
}
@media (max-width: 480px) {
    
}
