/**
 * 侧栏样式
 */

/**==================== 公共样式 ====================*/
.widget{
    cursor: default;
    z-index: 999;
    position: relative;
    margin: 1.2rem auto 0;
    background-color: #fff;
    overflow: hidden;
}
.widget .title{
    width: 100%;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.widget .title:after{
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
}
.widget .title h3{
    display: block;
    width: 100px;
    height: 35px;
    margin: 0;
    font-size: 1.05rem;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background: #ccc;
    overflow: hidden;
}
.widget .title h3:hover{
    background: #bbb;
}
.widget .title .more{
    text-decoration: none;
    float: right;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
    font-size: 0.8rem;
    color: #999;
}
.widget .title .more:hover{
    color: #24A0F0;
}
@media (max-width: 1366px) {
    .widget{
        margin: 1rem auto 0;
    }
}
@media (max-width: 1024px) {
    .widget{
        margin: 0.8rem auto 0;
    }
}
/**==================== 关于站点 ====================**/
.widget-about-site .content-wrapper{
    margin: 0;
    border: 0;
    padding: 1.2rem 1.2rem 0;
}
.widget-about-site a{
    text-decoration: none;
    display: inline-block;
    color: #24A0F0;
    overflow: hidden;
}
.widget-about-site .title{
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: normal;
    color: #24A0F0;
}
.widget-about-site .sub-title{
    margin: 0.5rem 0;
    color: #ff5757;
    font-size: 1rem;
    font-style: italic;
}
.widget-about-site .content{
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}
.widget-about-site p{
    width: 100%;
    max-height: 6rem;
    margin: 0.8rem auto;
    color: #999;
    font-size: 0.8rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-align: justify;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
.widget-about-site ul{
    margin: 0 -1.2rem;
    border: 0;
    padding: 0;
    border-top: 1px solid #eee;
    overflow: hidden;
}
.widget-about-site ul li{
    list-style-type: none;
    position: relative;
    float: left;
    width: 25%;
    margin: 0;
    border: 0;
    padding: 3px 0 5px;
    text-align: center;
    background: #fafafa;
}
.widget-about-site ul li:before{
    position: absolute;
    content: '';
    top: 6px;
    right: 0;
    width: 1px;
    height: 36px;
    background: #eee;
}
.widget-about-site ul li:last-child:before{
    width: 0;
}
.widget-about-site ul li:hover{
    background: #f5f5f5;
}
.widget-about-site ul li span{
    margin: 3px 0 5px;
    font-size: 0.8rem;
    color: #999;
}
.widget-about-site ul li b{
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 1rem;
    color: #24A0F0;
}


/**==================== 自定义代码广告 ====================**/
.widget-ads-code{
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden; 
}
.widget-ads-code a{
    display: block;
    width: 100%;
    height: 100%;
}
.widget-ads-code a img{
    object-fit: cover;
    transition-duration: 0.5s;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.widget-ads-code a:hover img{
    transform: scale(1.2);
}

/**==================== 文字广告 ====================**/
.widget-ads-text a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    padding: 0 1.2rem 1.2rem;
}
.widget-ads-text a strong{
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 5px 15px;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    background: #24a0f0;
}
.widget-ads-text a h3{
    display: block;
    margin: 1rem 0;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.widget-ads-text a p{
    width: 100%;
    height: auto;
    max-height: 6rem;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
/** 海蓝 */
.widget-ads-text a.style01{
    color: #24a0f0;
}
.widget-ads-text a.style01:hover{
    border: 1px solid #24a0f0;
}
.widget-ads-text a.style01 strong{
    background: #24a0f0;
}
/** 橘红 */
.widget-ads-text a.style02{
    color: #ff4545;
}
.widget-ads-text a.style02:hover{
    border: 1px solid #ff4545;
}
.widget-ads-text a.style02 strong{
    background: #ff4545;
}
/** 草绿 */
.widget-ads-text a.style03{
    color: #1bb53a;
}
.widget-ads-text a.style03:hover{
    border: 1px solid #1bb53a;
}
.widget-ads-text a.style03 strong{
    background: #00b424;
}
/** 兰紫 */
.widget-ads-text a.style04{
    color: #a80ada;
}
.widget-ads-text a.style04:hover{
    border: 1px solid #a80ada;
}
.widget-ads-text a.style04 strong{
    background: #a80ada;
}
/** 天青 */
.widget-ads-text a.style05{
    color: #00abc7;
}
.widget-ads-text a.style05:hover{
    border: 1px solid #00abc7;
}
.widget-ads-text a.style05 strong{
    background: #00abc7;
}
@media (max-width: 768px) {
    
}


/**==================== 图文广告 ====================**/
.widget-ads-text-pic{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.widget-ads-text-pic img{
    transition-duration: 0.5s;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}
.widget-ads-text-pic .content-wrapper{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 0;
    padding: 1.2rem;
    color: #fff;
    background: #00000060;
    overflow: hidden;
}
.widget-ads-text-pic:hover .content-wrapper{
    display: block;
}
.widget-ads-text-pic:hover img{
    transform: scale(1.2);
}
.widget-ads-text-pic .content-wrapper .content{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
}
.widget-ads-text-pic .content h3{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    margin: 0 0 1rem;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.widget-ads-text-pic .content h3.title::after{
    display: none;
}
.widget-ads-text-pic .content p{
    display: block;
    width: 100%;
    max-height: 3.6rem;
    line-height: 1.2rem;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.widget-ads-text-pic .content a{
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
}


/**====================最新评论侧栏样式====================**/
.widget-comments-new{
    width: 100%;
    border-radius: 5px;
}
.widget-comments-new ul{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 5px 15px;
}
.widget-comments-new ul li{
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}
.widget-comments-new ul a{
    display: block;
    position: relative;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.widget-comments-new .avatar-wrapper{
    z-index: 999;
    position: absolute;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 50%;
    overflow: hidden;
}
.widget-comments-new .avatar-wrapper img{
    transition-duration: 0.5s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.widget-comments-new .avatar-wrapper:hover img{
    transform: scale(1.2);
}
.widget-comments-new .content-wrapper{
    float: left;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    max-height: 50px;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0 0 0 60px;
    overflow: hidden;
}
.widget-comments-new .content-wrapper span{
    display: block;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #24a0f0;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.widget-comments-new .content-wrapper b{
    margin: 0 5px;
    color: #999;
}
.widget-comments-new .content-wrapper p{
    width: auto;
    margin: 0;
    max-height: 30px;
    line-height: 15px;
    font-size: 0.9rem;
    color: #555;
    text-align: justify;
    vertical-align: middle;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.widget-comments-new .content-wrapper img.wp-smiley{
    display: inline-block;
    position: relative;
    top: 3px;
    max-width: 16px!important;
    max-height: 16px!important;
    height: 16px!important;
    margin: auto;
}


/**====================作者信息侧栏样式====================**/
.widget-post-author{
    border-radius: 5px;
}
.widget-post-author .banner{
    width: 100%;
    height: 120px;
}
.widget-post-author .author-info{
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: justify;
}
.widget-post-author .author-info .avatar-wrapper{
    position: relative;
    top: -50px;
    left: 10px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 3px;
    background: #eee;
    overflow: hidden;
}
.widget-post-author .author-info .avatar-wrapper a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.widget-post-author .author-info .avatar-wrapper .avatar{
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
}
.widget-post-author .author-info .avatar-wrapper:hover .avatar{
    transform: scale(1.2);
}
.widget-post-author .author-info .role{
    display: block;
    position: absolute;
    top: 90px;
    left: 120px;
    width: auto;
    max-width: 200px;
    height: 30px;
}
.widget-post-author .author-info .role a{
    display: inline-block;
    max-width: 100px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.widget-post-author .author-info .role span{
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin: 0 5px;
    border: 0;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 10px;
    color: #fff;
    background: #ff0000;
    background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#ff7600)) no-repeat;
    background: -webkit-linear-gradient(left, #ff0000, #ff7600) no-repeat;
    background: linear-gradient(90deg,#ff0000,#ff7600) no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(255,80,0,0.5);
    box-shadow: 0 3px 5px rgba(255,80,0,0.5);
}
.widget-post-author .author-info .sns{
    float: none;
    display: block;
    position: absolute;
    top: 120px;
    left: 120px;
    width: auto;
    max-width: 240px;
    height: 40px;
    margin: 3px 0;
    border: 0;
    padding: 0;
    font-size: 0.8rem;
}
.widget-post-author .author-info .sns .sns-item{
    float: left;
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 5px 0 0;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
}
.widget-post-author .author-info .sns .sns-item a{
    display: block;
    text-decoration: none;
    color: #999;
}
.widget-post-author .author-info .sns .sns-item i{
    display: block;
    width: 100%;
    height: 24px;
}
.widget-post-author .author-info .sns .sns-item i:before{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}
.widget-post-author .author-info .sns .sns-item b{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 0.8rem;
}
.widget-post-author .author-info .clear{
    clear: both;
    display: block;
    position: relative;
    margin: -45px 0;
    border: 0;
    padding: 0;
}
.widget-post-author .author-info .tongji{
    display: block;
    position: relative;
    width: auto;
    height: 50px;
    margin: 10px -17px 0;
    border: 0;
    padding: 0;
}
.widget-post-author .author-info .tongji .card{
    float: left;
    display: block;
    position: relative;
    width: 33.33%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 5px 0;
    text-align: center;
    background: #fafafa;
}
.widget-post-author .author-info .tongji .card:hover{
    background: #eee;
}
.widget-post-author .author-info .tongji .card:before{
    position: absolute;
    content: '';
    top: 5px;
    right: 0;
    width: 1px;
    height: 40px;
    background: #eee;
}
.widget-post-author .author-info .tongji .card:last-child:before{
    background: #fafafa;
}
.widget-post-author .author-info .tongji .card span{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 0.9rem;
    font-style: normal;
    color: #999;
}
.widget-post-author .author-info .tongji .card b{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 1rem;
    font-style: normal;
    color: #24a0f0;
}
.widget-post-author .author-info .desc{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 48px;
    line-height: 16px;
    margin: 10px 0 0;
    font-size: 0.8rem;
    color: #999;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.widget-post-author .author-info .posts{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px 0 0;
}
.widget-post-author .author-info .posts .title{
    display: block;
    width: auto;
    height: 30px;
    margin: 0 -15px;
    line-height: 30px;
    background: #fafafa;
}
.widget-post-author .author-info .posts .title h3{
    font-size: 1.05rem;
    font-weight: bold;
    color: #24a0f0;
    background: none;
}
.widget-post-author .author-info .posts .title .more{
    float: right;
    display: block;
    width: auto;
    height: 100%;
    margin: 0 15px;
    font-size: 0.8rem;
    color: #999;
}
.widget-post-author .author-info .posts .title .more i{
    font-size: 0.8rem;
}
.widget-post-author .author-info .posts .title .more a{
    text-decoration: none;
    color: #999;
}
.widget-post-author .author-info .posts .title .more a:hover{
    text-decoration: none;
    color: #24a0f0;
}
.widget-post-author .author-info .posts ul{
    display: block;
    position: relative;
    margin: 10px 0 0;
}
.widget-post-author .author-info .posts ul li{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1rem;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.widget-post-author .author-info .posts ul li a{
    text-decoration: none;
    color: #555;
}
.widget-post-author .author-info .posts ul li a:hover{
    text-decoration: none;
    color: #24a0f0;
}
.widget-post-author .author-info .posts ul li span.tag{
    float: left;
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px 10px 2px 0;
    border: 0;
    padding: 0;
    border-radius: 3px;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #ccc;
}
.widget-post-author .author-info .posts ul li span.tag-1{
    background: #ff7878;
}
.widget-post-author .author-info .posts ul li span.tag-2{
    background: #f9c909;
}
.widget-post-author .author-info .posts ul li span.tag-3{
    background: #24f00c;
}


/**====================分类文章侧栏样式====================**/
.widget-posts-categories{
    border-radius: 5px;
}
.widget-posts-categories ul{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 5px 0 10px;
    border: 0;
    padding: 0;
}
.widget-posts-categories ul li{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 7px  15px;
    overflow: hidden;
}
.widget-posts-categories ul li a{
    display: block;
    color: #555;
    text-decoration: none;
}
.widget-posts-categories ul li a:hover{
    color: #24a0f0;
}
.widget-posts-categories ul li .thumb{
    z-index: 999;
    float: left;
    position: relative;
    width: 90px;
    height: 60px;
    margin: 0 5px 0 0;
    border: 0;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
}
.widget-posts-categories ul li .thumb img{
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
}
.widget-posts-categories ul li .thumb:hover img{
    transform: scale(1.2);
}
.widget-posts-categories ul li .desc{
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 5px 0 5px 100px;
}
.widget-posts-categories ul li h4{
    width: 100%;
    max-height: 30px;
    line-height: 15px;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: justify;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.widget-posts-categories ul li .meta{
    position: absolute;
    bottom: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 0.8rem;
    color: #999;
    overflow: hidden;
}
.widget-posts-categories ul li .meta span{
    display: inline-block;
    margin-right: 5px;
}


/**====================聚合文章侧栏样式====================**/
.widget-posts-polymer{
    border-radius: 5px;
}
.widget-posts-polymer .title h3{
    float: left;
    width: 25%;
}
.widget-posts-polymer .title h3.actived{
    background: #bbb;
}
.widget-posts-polymer .content-wrapper{
    min-height: 100px;
    overflow: hidden;
}
.widget-posts-polymer ul{
    list-style: none;
    display: none;
    position: relative;
    margin: 0.5rem auto;
}
.widget-posts-polymer ul.actived{
    display: block;
}
.widget-posts-polymer ul li.item{
    display: block;
    margin: 0;
    padding: 0.5rem  1.2rem;
    overflow: hidden;
}
.widget-posts-polymer ul li a{
    display: block;
    color: #555;
    text-decoration: none;
}
.widget-posts-polymer ul li a:hover{
    color: #24a0f0;
}
.widget-posts-polymer ul li .thumb{
    z-index: 999;
    float: left;
    position: relative;
    width: 90px;
    height: 60px;
    margin: 0 5px 0 0;
    border: 0;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
}
.widget-posts-polymer ul li .thumb img{
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
}
.widget-posts-polymer ul li .thumb:hover img{
    transform: scale(1.2);
}
.widget-posts-polymer ul li .desc{
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 5px 0 5px 100px;
}
.widget-posts-polymer ul li h4{
    width: 100%;
    max-height: 30px;
    line-height: 15px;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: justify;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.widget-posts-polymer ul li .metas{
    position: absolute;
    bottom: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 0.8rem;
    color: #999;
    overflow: hidden;
}
.widget-posts-polymer ul li .metas span{
    display: inline-block;
    margin-right: 5px;
}
.widget-posts-polymer ul li .label{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
    border: 0;
    padding: 0;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background: #ccc;
}
.widget-posts-polymer ul li .label-1{
    background: #fd3131;
}
.widget-posts-polymer ul li .label-2{
    background: #24affb;
}
.widget-posts-polymer ul li .label-3{
    background: #14d843;
}
.widget-posts-polymer ul li .desc{
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0 0 0 100px;
}
.widget-posts-polymer .content-wrapper.nopic ul li{
    padding: 3px 15px;
}
.widget-posts-polymer .content-wrapper.nopic ul li .desc{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 30px;
}
.widget-posts-polymer .content-wrapper.nopic ul li .desc h4{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 20px;
    line-height: 14px;
    padding: 3px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.widget-posts-polymer .content-wrapper.nopic ul li .meta {
    bottom: auto;
}


/**====================热门标签样式====================**/
.widget-tags-hot{
    border-radius: 5px;
}
.widget-tags-hot .tags{
    margin: 0;
    border: 0;
    padding: 15px;
}
.widget-tags-hot .tags a{
    display: inline-block;
    height: 26px;
    margin: 5px;
    border: 0;
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 16px;
    font-size: 12px;
    color: #999;
    background: #eee;
    text-decoration: none;
}
.widget-tags-hot .tags a:hover{
    color: #fff;
    background: #24A0F0;
    opacity: 0.6;
}
