/* Options Framework Admin Styles */
#optionsframework-wrap{
	margin: 20px auto 0;
	padding: 0 30px 0 0;
}
#optionsframework-wrap h2{
	z-index: 999;
	height: 40px;
	line-height: 40px;
	padding: 10px 15px;
	color: #fff;
	background: #24a0f0;
	background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#ae46ef)) no-repeat;
	background: -webkit-linear-gradient(left,#24a0f0,#ae46ef) no-repeat;
	background: linear-gradient(90deg,#24a0f0,#ae46ef) no-repeat;
}
/* 侧栏样式 */
#optionsframework-wrap .optionsframework-sidebar{
	float: left;
	width: 160px;
	padding: 10px 0;
	background: #fff;
	overflow: hidden;
}
#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper{
	border: 0;
	padding: 0;
}
#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper a{
	width: 100%;
	margin: 0 auto;
	border: 0;
	padding: 9px 0;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	background: none;
	overflow: hidden;
}
#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper a.nav-tab-active{
	background: #eee;
}
#optionsframework-wrap .optionsframework-sidebar .ads{
	display: block;
	width: 100%;
	height: auto;
	margin: 10px 0;
	border: 0;
	padding: 0;
	background: none;
}
#optionsframework-wrap .optionsframework-sidebar .ads img{
	display: block;
	width: 100%;
	height: auto;
}
/* 提交按钮 */
#optionsframework-submit{
	z-index: 999999;
	position: fixed;
	top: 66px;
	right: 66px;
}
#optionsframework-submit .button-primary{
	border: 0;
	text-shadow: none;
	color: #fff;
	background: #24a0f0;
	background: -webkit-gradient(linear,left top,right top,from(#24a0f0),to(#24b4ff)) no-repeat;
	background: -webkit-linear-gradient(left,#24a0f0,#24b4ff) no-repeat;
	background: linear-gradient(90deg,#24a0f0,#24b4ff) no-repeat;
	-webkit-box-shadow: 0 3px 5px rgba(32,160,240,0.5);
	box-shadow: 0 3px 5px rgba(32,160,240,0.5);
}
#optionsframework-submit .button-primary:hover{
	opacity: 0.8;
}
#optionsframework-submit .button-primary:focus{
	outline: none;
}
#optionsframework-submit .reset-button{
	margin-left: 5px;
	border: 0;
	text-shadow: none;
	color: #fff;
	background: #ff0000;
	background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#ff7600)) no-repeat;
	background: -webkit-linear-gradient(left, #ff0000, #ff7600) no-repeat;
	background: linear-gradient(90deg,#ff0000,#ff7600) no-repeat;
	-webkit-box-shadow: 0 3px 5px rgba(255,80,0,0.5);
	box-shadow: 0 3px 5px rgba(255,80,0,0.5);
}
#optionsframework-submit .reset-button:hover{
	opacity: 0.8;
}
#optionsframework-submit .reset-button:focus{
	outline: none;
}
/* 主体样式 */
#optionsframework-metabox{
	min-height: 600px;
	margin: 0 0 0 180px;
	border: 0;
	padding: 15px 20px;
	background: #fff;
	overflow: hidden;
}
#optionsframework-metabox .postbox{
	border: 0;
}
#optionsframework-metabox .postbox .group h3{
	z-index: 999;
	display: inline-block;
	position: absolute;
	transform: rotate(36deg);
	right: -50px;
	top: 5px;
	width: 160px;
	height: auto;
	margin: 0;
	border: 0;
	padding: 9px 15px;
	text-align: center;
	font-weight: normal;
	color: #fff;
	background: #24a0f0;
}
#optionsframework-metabox .postbox .group .section{
	margin-bottom: 10px;
}
#optionsframework-metabox .postbox .group .section h4.heading{
	margin: 10px -20px 10px -20px;
	padding: 5px 10px;
	border-left: 5px solid #24a0f0;
	font-size: 15px;
	background: #fafafa;
}
#optionsframework-metabox .postbox .group .section .option .controls{
	display: inline-block;
	padding: 3px;
}
#optionsframework-metabox .postbox .group .section .option input{
	margin: 0;
}
#optionsframework-metabox .postbox .group .section .option .explain{
	display: inline-block;
	padding: 3px;
	color: #999;
	line-height: 1.25;
}
#optionsframework-metabox .postbox .group .section .option .explain b{
	font-weight: bold;
	color: #777;
}
#optionsframework-metabox .postbox .group .section .option .explain i{
	margin: 0 5px;
	font-weight: bold;
	color: #f00;
}
#optionsframework-metabox .postbox .group .section .option .controls select{
	min-width: 480px;
}
#optionsframework-metabox .postbox .group .section .option .controls input[type=text]{
	min-width: 480px;
}
#optionsframework-metabox .postbox .group .section .option .controls input[type=text].upload{
	min-width: 428px;
}
/* 多选按钮 */
#optionsframework-metabox .postbox .group .section-multicheck .option .controls input[type=checkbox]{
	float: left;
	margin: 0 10px 5px 0;
	clear: both;
}
#optionsframework-metabox .postbox .group .section-multicheck .option .controls label{
	float: left;
	width: auto;
	margin-bottom: 5px;
}
/* 单选按钮 */
#optionsframework-metabox .postbox .group .section-radio .option .controls input[type=radio]{
	float: left;
	margin: 0 10px 5px 0;
	clear: both;
}
#optionsframework-metabox .postbox .group .section-radio .option .controls label{
	float: left;
	width: auto;
	margin-bottom: 5px;
}
#optionsframework-metabox .postbox .group .section .option .controls div.of-radio-img-label{
	display: none;
}
#optionsframework-metabox .postbox .group .section .option .controls a.of-radio-color{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: auto 5px auto 0;
	border: 3px solid #eee;
	cursor:pointer;
}
#optionsframework-metabox .postbox .group .section .option .controls a.of-radio-color:hover{
	opacity: 0.8
}
#optionsframework-metabox .postbox .group .section .option .controls .of-radio-img-selected{
	border: 3px solid #ccc
}
#optionsframework-metabox .postbox .group .section .option .controls textarea{
	width: 480px;
	height: auto;
}
#optionsframework-metabox .postbox .group .section .option .controls .screenshot img{
	display: block;
	min-width: 100px;
	max-width: 400px;
	max-height: 100px;
	margin: 10px 0;
	border: 1px solid #eee;
	padding: 5px;
	background: #fafafa;
}
#optionsframework-metabox .postbox .group .section .option .controls .screenshot a.remove-image{
	display: none;
}

@media (max-width: 1366px) {
	#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper a {
		padding: 7px 0;
	}
}
@media (max-width: 1024px) {
	#optionsframework-wrap .optionsframework-sidebar {
		float: none;
		width: auto;
		background: none;
	}
	#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper {
		padding: 7px 9px;
		background: #fff;
	}
	#optionsframework-wrap .optionsframework-sidebar .ads{
		display: none;
	}
	#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper a {
		float: left;
		width: 12.5%;
		padding: 3px 0;
		font-size: 14px;
	}
	#optionsframework-metabox {
		margin: 0;
	}
	#optionsframework-metabox .postbox .group .section .option .explain {
		display: revert;
		margin: auto;
	}
}
@media (max-width: 768px) {
	#optionsframework-wrap {
		padding: 0 10px 0 0;
	}
	#optionsframework-submit {
		top: 80px;
	}
	#optionsframework-metabox .postbox .group h3 {
		right: -60px;
		top: 0;
		width: 140px;
		padding: 7px 15px;
		font-size: 15px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls select{
		min-width: 360px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input:not([type=checkbox], [type=radio]){
		min-height: 30px;
		line-height: 1;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=checkbox], input[type=radio] {
		height: 1rem;
    	width: 1rem;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=checkbox]::before {
    	width: 1.125rem;
		height: 1.125rem;
		margin: -.1125rem -.1875rem;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=radio]::before {
		width: .5rem;
		height: .5rem;
		margin: .1625rem;;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=text]{
		min-width: 360px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=text].upload{
		min-width: 298px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls .button {
		vertical-align: top;
	}
	#optionsframework-metabox .postbox .group .section .option .controls textarea {
		width: 360px;
	}
}
@media (max-width: 480px) {
	#optionsframework {
		font-size: 13px;
	}
	#optionsframework-wrap h2 {
		height: 30px;
		line-height: 30px;
		padding: 5px 12px;
		font-size: 17px;
	}
	#optionsframework-submit {
		top: 74px;
		right: 18px;
	}
	#optionsframework-submit .button-primary, #optionsframework-submit .reset-button{
		min-height: 24px;
		line-height: 1;
		font-size: 13px;
	}
	#optionsframework-wrap .optionsframework-sidebar .nav-tab-wrapper a {
		width: 20%;
		font-size: 12px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=text]{
		min-width: 300px;
		font-size: 13px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls input[type=text].upload{
		min-width: 238px;
		font-size: 13px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls textarea {
		width: 300px;
		font-size: 13px;
	}
	#optionsframework-metabox .postbox .group .section .option .controls .screenshot img {
		max-width: 300px;
		max-height: 80px;
	}
}

/* #section-smtp_mailer_test_to a:last-child{
	text-decoration: none;
	margin-right: 5px;
	padding: 5px 9px;
	border-radius: 5px;
	color: #fff;
	background-color: #24a0f0;
}
#section-smtp_mailer_test_to a:last-child:hover{
	opacity: 0.8;
} */